/* Pixel Moxie's LUOMO Tumblr Theme - v1.2.1 */

$dark-post-background:            #494f50;
$dark-post-text:                  #f5f5f5;
$dark-post-accent:                #00ccff;
$dark-post-link:                  #00ccff;
$dark-post-link-hover:            #f5f5f5;
$dark-post-link-hover-bg:         #333333;
$light-post-background:           #afb5b6;
$light-post-text:                 #333333;
$light-post-accent:               #00ccff;
$light-post-link:                 #007A99;
$light-post-link-hover:           #333333;
$light-post-link-hover-bg:        #f5f5f5;
$footer-background:               #343332;
$footer-text:                     #9a9998;
$footer-link:                     #f5f5f5;
$footer-link-hover:               #00ccff;
$pagination-background:           #40403f;
$pagination-text:                 #f5f5f5;
$disqus-thread-accent:            #00ccff;
$slider-control-nav-normal:       #333333;

$page-header-font-family:        'Open Sans';
$page-header-font-weight:        700;
$page-header-font-size-desktop:  36px;
$body-font-stack:                "'Segoe UI', Tahoma, Helvetica, sans-serif";
$body-font-size-desktop:         18px;
$post-info-font-family:          'Open Sans Condensed';
$post-info-font-weight:          700;
$post-header-font-family:        'Open Sans';
$post-header-font-weight:        700;
$post-header-font-size-desktop:  24px;
$post-header-text-transform:     none;
$footer-header-font-family:      'Open Sans';
$footer-header-font-weight:      300;
$footer-header-font-size:        24px;
$footer-header-text-transform:   uppercase;
$footer-font-size:               12px;
$pagination-font-family:         Open Sans;
$pagination-font-weight:         300;

$tags-text-transform:            capitalize;
/* ==================================================================

@group Responsive Grid

===================================================================== */

/* @media screen and (min-width: 1280px) */
/* @media screen and (min-width: 80em) { */
  #blog_header .inner,
  .post .inner,
  .pagination .inner,
  .blog_footer .inner { width: 61.5em; }
/* } /* 14 column grid. */

/* ==================================================================

@group Main Styles

===================================================================== */

body { background-color: #343332; font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 1em; line-height: 1.5em; }

/*
@group Icon Sources
--------------------------------------------------------------------- */
.pagination a::before,
.post .cont blockquote::before,
.post .cont ol.notes blockquote::before,
.post .icon,
.post .icon_link a,
.post_footer .timestamp::before,
#back_to_top a { background-image: url(/images/luomo_icons.png); }
#social_links li a { background-image: url(/images/social_icons.png); }

/* 2 dpr and 1.5 dpr */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .pagination a::before,
  .post .cont blockquote::before,
  .post .cont ol.notes blockquote::before,
  .post .icon,
  .post .icon_link a,
  .post_footer .timestamp::before,
  #back_to_top a { background-image: url(/images/luomo_icons_2x.png); background-size: 480px 860px }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #social_links li a { background-image: url(/images/social_icons_2x.png); background-size: 1120px 80px }
}

/*
@group Header
--------------------------------------------------------------------- */
#blog_header { background-color: #f5f5f5; position: relative; }
#blog_header::after { background: transparent url(/images/post_shadow.png) repeat-x top; content: ""; display: block; position: absolute; left: 0; bottom: -20px; width: 100%; height: 20px; z-index: 4444; pointer-events: none; }
#blog_header_top { padding: 0px; position: relative; }
#title_link a { text-decoration: none; color: gray; }
#title_link h1 { text-align: center; padding: 0px; line-height:1em; font-size: 84px; font-style: italic; }

#social_links { padding-bottom: 20px }

/* ==================================================================

@group Posts

===================================================================== */

.post { border-top: 1px solid #f5f5f5; min-height: 7.5em; position: relative; }
.post:first-child { border: none }
.post::after { background: transparent url(/images/post_shadow.png) repeat-x bottom; content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 20px; z-index: 4444; pointer-events: none; opacity: 0.7; }
.post figure img { height: auto; width: 100%; }
/*.js .post { display: none } */
.post .inner { padding-bottom: 2em }
.post .read_more_container { margin: 0 }
.is_permalink_page .post .inner::before { background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 5px; z-index: 6666; pointer-events: none; opacity: 0.4; }

/*
@group Post Info Bar
--------------------------------------------------------------------- */
.post_info_bar {
  border-bottom: 1px solid #f5f5f5; border-right: 1px solid #f5f5f5; position: relative; height: auto; width: 100%; z-index: 5555; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  .icon_link { position: absolute; left: 0; top: 0; width: 60px; height: 60px; z-index: 3333; }
  .icon_link a { cursor: pointer; display: block; width: 100%; height: 100%; }
  ul { list-style: none; margin: 0; padding: 0 0 0 60px; position: relative; width: 100%; z-index: 2222; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; *zoom: 1; }
  ul {
    li {
      display: block;
      float: left;
      a {
        background: transparent url(/images/info_bar_button_bg.png) no-repeat 0 -9999em;
        display: block;
        font-size: 1.125em;
        font-weight: 700;
        height: 60px;
        line-height: 60px;
        padding: 0 5px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        font-family: '$post-info-font-family', sans-serif;
        font-weight: $post-info-font-weight !important;

        .icon {
          display: block;
          float: left;
          width: 40px;
          height: 40px;
          margin: 10px 0;
        }
        .legend { margin: 0 10px 0 0 }
      }
      a:hover { background-position: 0 0; }
    }

    li:last-child { float: none; position: absolute; top: 0; right: 0; }
    li:first-child a { padding-left: 15px }
    li:last-child a { padding-right: 15px }
  }
}
.post_info_bar::before {
  background: transparent url(/images/shadow.png) no-repeat right bottom;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 7px 8px 0;
  pointer-events: none;
  z-index: 1111;
  opacity: 0.7;
}

.post_info_bar::after {
  background: transparent url(/images/info_bar_shadow.png) repeat-y;
  content: "";
  display: block;
  position: absolute;
  left: 60px;
  top: 0;
  width: 20px;
  height: 100%;
  pointer-events: none;
  z-index: 3333;
}

/* Retina stuff */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .post_info_bar li a { background-image: url(/images/info_bar_button_bg_2x.png); background-size: 280px 65px; }
}

/*
@group Post Icons
--------------------------------------------------------------------- */

/* Post types and post actions */

/* Dark backgrounds */
.post.dark {
  .cont blockquote::before           { background-position: -120px 0; }
  .cont ol.notes blockquote::before  { background-position: -80px -200px; }
  .post_footer .timestamp::before    { background-position: 0 -340px; }
  .timestamp .icon                   { background-position: 0 -120px; }
  .notecount .icon                   { background-position: -40px -120px; }
  .dsq-comment-count .icon           { background-position: -80px -120px; }
  .sharethis .icon                   { background-position: -120px -120px; }
  .reblogthis .icon                  { background-position: -160px -120px; }
}
.post.dark.is_quote .icon_link a        { background-position: -120px 0; }
.post.dark.is_text .icon_link a         { background-position: 0 0; }

/* Light backgrounds */
.post.light {
  .cont blockquote::before          { background-position: -120px -60px; }
  .cont ol.notes blockquote::before { background-position: -80px -240px; }
  .dsq-comment-count .icon          { background-position: -80px -160px; }
  .notecount .icon                  { background-position: -40px -160px; }
  .post_footer .timestamp::before   { background-position: 0 -360px; }
  .reblogthis .icon                 { background-position: -160px -160px; }
  .sharethis .icon                  { background-position: -120px -160px; }
  .timestamp .icon                  { background-position: 0 -160px; }
}
.post.light.is_quote .icon_link a       { background-position: -120px -60px; }
.post.light.is_text .icon_link a        { background-position: 0 -60px; }


/*
@group Comments & Notes
--------------------------------------------------------------------- */
ol.notes {
  margin: 60px 0 !important;
  padding: 0;
  li.note { display: block; list-style: none; margin: 0.5em 0 0.5em 40px; position: relative; margin-left: 50px }
  li.note > a:first-child { background: rgba(0, 0, 0, 0.1) !important; border: none !important; display: block; position: absolute; top: 0; left: -50px; }
  li.note > a:first-child img { display: block; margin: 0 2px 2px 0; width: 40px; height: auto; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
  li.note > a:first-child:hover { background: rgba(0, 0, 0, 0.1) !important }
  li.note > a:first-child:hover img { opacity: 0.8 }
  li.note blockquote { border: none !important; margin: 0; padding: 0 0 0 40px; }
  li.note blockquote::before { width: 40px; height: 40px; }
  li.note .clear { clear: both }
}

#disqus_thread { background-color: #333333; background-color: rgba(51, 51, 51, 0.7); color: white; margin: 60px 0 40px; padding: 20px; }
#disqus_thread a { color: $disqus-thread-accent }

/*
@group Post Footer
--------------------------------------------------------------------- */
.post_footer {
  margin: 2em 0 0;
  font-style: italic;

  ul { list-style: none; margin: 0; padding: 0; }
  a { text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
  .timestamp { padding: 0 0 0 20px; position: relative; }
  .timestamp::before { background-color: transparent; content: ""; display: block; left: 0; top: 0; position: absolute; width: 20px; height: 20px; margin: 0 0 0 -2px; }
  .tag_list { margin: 20px 0 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
  .tags {
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    line-height: 1em;
    text-transform: $tags-text-transform;
    margin-left: -2px;
    li { display: inline-block; margin: 2px; }
    a { display: block; padding: 4px 10px; border-radius: 999em; }
    a:hover { opacity: 0.7 }
  }
}

/*
@group Post Colors
--------------------------------------------------------------------- */

/* Dark backgrounds */
.post:nth-child(odd),
.post:nth-child(even).dark,
.post.dark { background-color: $dark-post-background; }

.post.dark {
  .post_info_bar {
    background-color: $dark-post-background;

    .icon_link,
    li a { background-color: $dark-post-background; color: $dark-post-text; }

    li a:hover { background-color: $dark-post-accent !important; }
  }
  .cont {
    color: $dark-post-text;

    a { color: $dark-post-link; border-bottom: 2px solid $dark-post-link; }
    a:hover { color: $dark-post-link-hover; background-color: $dark-post-link-hover-bg; border-color: $dark-post-link-hover; }
    h2 a { color: $dark-post-text }
    h2 a:hover { color: $dark-post-link; background: none !important; }
    blockquote { border-color: $dark-post-text }
    ol.notes blockquote a { background: transparent !important; border: none !important; color: $dark-post-text !important; }
  }
  .cont.reverse h2 a { color: $dark-post-link }
  .cont.reverse h2 a:hover { color: $dark-post-link-hover }
  .post_footer,
  .post_footer a { color: $dark-post-text }

  .post_footer a:hover { color: $dark-post-link }
  .post_footer .tag_list a { background-color: $dark-post-text; color: $dark-post-background !important; }
}

/* Light backgrounds */
.post:nth-child(even),
.post:nth-child(odd).light,
.post.light { background-color: $light-post-background; }

.post.light {
  .post_info_bar {
    background-color: $light-post-background;
    .icon_link,
    li a { background-color: $light-post-background; color: $light-post-text; }

    li a:hover { background-color: $light-post-accent !important; }
  }
  .cont {
    color: $light-post-text;

    a { color: $light-post-link; border-bottom: 2px solid $light-post-link; }
    a:hover { color: $light-post-link-hover; background-color: $light-post-link-hover-bg; border-color: $light-post-link-hover; }
    h2 a { color: $light-post-text }
    h2 a:hover { color: $light-post-link; background: none !important; }
    reverse h2 a { color: $light-post-link }
    reverse h2 a:hover { color: $light-post-link-hover }
    blockquote { border-color: $light-post-text }
    ol.notes blockquote a { background: transparent !important; border: none !important; color: $light-post-text !important; }
  }
  .post_footer,
  .post_footer a { color: $light-post-text }

  .post_footer a:hover { color: $light-post-link }
  .post_footer .tag_list a { background-color: $light-post-text; color: $light-post-background !important; }
}

/* Clearfix for the .slides element */
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block }
* html .slides { height: 1% }

/* No JavaScript Fallback */
.no-js .slides > li:first-child { display: block }

/*
@group Chat, Link, Quote & Text Posts
--------------------------------------------------------------------- */
.post.no_media .caption h2 { font-size: $post-header-font-size-desktop; line-height: 40px; margin: 12px 0 24px 80px; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); padding: 0; }
.post.no_media .caption h2 a { border-bottom: none !important; -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; -ms-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }
.quote .quote_source::before { content: "\2014 \2009" }
.quote_medium .post_title span { font-size: 85% }
.quote_long .post_title span { font-size: 75% }

.post.no_media .content_source,
.post.no_media .conversation,
.post.no_media .post_body,
.post.no_media .post_footer,
.post.no_media .quote_source { padding: 0 30px }
.post.no_media .inner { background-position: -60px -60px; background-repeat: no-repeat; }
.post.no_media.dark .inner { background-image: url(/images/text_post_bg_dark.png) }
.post.no_media.light .inner { background-image: url(/images/text_post_bg_light.png) }

.post.no_media .caption p { margin-top: 36px; text-indent: 50px; }
.post.no_media .caption p + p { margin-top: 0; text-indent: 0; }
.post.no_media .caption.has_title { margin-top: 0 }
.post.no_media .caption.has_title p { margin-top: 0; text-indent: 0; }
.is_permalink_page .post.no_media .caption.has_title { margin-top: 1em }
.is_permalink_page .post.no_media .caption h2 { margin-left: 30px }
.is_permalink_page .post.no_media .caption p { text-indent: 0 }

/* Retina stuff */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)   and (min-width: 48em),
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 48em),
only screen and (min-resolution: 192dpi)              and (min-width: 48em),
only screen and (min-resolution: 144dpi)              and (min-width: 48em) {
  .post.no_media.dark .inner { background-image: url(/images/text_post_bg_dark_2x.png); background-size: 984px 492px; }
  .post.no_media.light .inner { background-image: url(/images/text_post_bg_light_2x.png); background-size: 984px 492px; }
}


/*
@group Footer
--------------------------------------------------------------------- */
.blog_footer {
  border-top: 1px solid $footer-text;
  background-color: $footer-background;
  color: $footer-text;

  .inner { padding: 10px 0 }
  a { color: $footer-link; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
  a:hover { color: $footer-link-hover }
  li { list-style: none }

  .footer_column { min-height: 100px }
  .widget { padding: 20px 0; position: relative; }
  .widget::before,
  .widget::after { content: ""; display: block; position: absolute; width: 100%; height: 1px; left: 0; }
  .widget::before { background-color: rgba(255, 255, 255, 0.1); top: 0; }
  .widget::after { background-color: rgba(0, 0, 0, 0.2); bottom: 0; }
  .widget:first-child::before { display: none }
  .widget:last-child::after { display: none }

  .links { font-size: 0.75em; font-style: normal; font-weight: bold; line-height: 1em; margin: 0 0 0 -2px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
  .links li { display: inline-block; margin: 4px 2px; }
  .links a { background-color: $footer-text; border: none !important; color: $footer-background; display: block; padding: 4px 10px; text-decoration: none; text-transform: capitalize; border-radius: 999em; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
  .links a:hover { opacity: 0.7 }
  .profile_portrait,
  .tweet_avatar { background-color: rgba(0, 0, 0, 0.1); border: none !important; float: left; margin: 5px 15px 10px 0; padding: 0 4px 4px 0; }
  .profile_portrait img,
  .tweet_avatar img { width: 100%; height: auto; }
  .tweet_avatar { margin: 5px 10px 5px 0; width: 48px; }
  .tweet_avatar img { display: block }
  .tweet_list li { min-height: 60px; padding: 1em 0; position: relative; }
  .tweet_list li::before,
  .tweet_list li::after { content: ""; display: block; position: absolute; width: 100%; height: 1px; left: 0; }
  .tweet_list li::before { background-color: rgba(255, 255, 255, 0.1); top: 0; }
  .tweet_list li::after { background-color: rgba(0, 0, 0, 0.2); bottom: 0; }
  .tweet_list li.tweet_first { padding-top: 0 }
  .tweet_list li.tweet_first::before { display: none }
  .tweet_list li:last-child { padding-bottom: 0 }
  .tweet_list li:last-child::after { display: none }

  .image_feed { margin: 0; padding-top: 5px; }
  .image_feed li { float: left; max-width: 120px; width: 33.3333%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .image_feed .feed_item { background: rgba(0, 0, 0, 0.1); display: block; padding: 0 4px 4px 0; -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }
  .image_feed .feed_item img { display: block; width: 100%; height: auto; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
  .image_feed .feed_item:hover img { opacity: 0.7 }
  .image_feed.alt_styling .feed_item { margin: 0 10px 10px 0 }

  .profile_portrait { width: 100px }
  .profile_info { margin-bottom: 2em; min-height: 175px; }
  .footer_bottom { margin-top: 2em; text-align: center; }
  .footer_bottom span { background-color: rgba(0, 0, 0, 0.1); display: inline-block; margin: 2px; padding: 4px 15px; border-radius: 999em; }
  .footer_bottom a { color: $footer-text }
  .footer_bottom a:hover { color: $footer-link-hover }
};

.blog_footer.singlecol .profile_info,
.blog_footer.singlecol .blog_navigation { float: left; width: 45%; }
.blog_footer.singlecol .profile_info { margin-right: 10% }
.blog_footer.multicols .footer_column { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.blog_footer.cols2 .footer_column { width: 45% }
.blog_footer.cols2 .footer_column:first-child { margin-right: 10% }
.blog_footer.cols2 .footer_column:last-child { float: right }
.blog_footer.cols3 .footer_column { width: 30% }
.blog_footer.cols3 .footer_column:first-child { margin-right: 5% }
.blog_footer.cols3 .footer_column:last-child { float: right }
.blog_footer .image_feed li { width: 33.3333% } 

/* Back to top button */
#back_to_top { position: fixed; right: 10px; bottom: 10px; z-index: 99999; }
#back_to_top a {
background-position: -80px -780px;
display: block;
width: 60px;
height: 60px;
opacity: 0.7;
text-indent: 100%;
overflow: hidden;
white-space: nowrap;
-webkit-transition: opacity 0.2s ease-in-out;
-moz-transition: opacity 0.2s ease-in-out;
-o-transition: opacity 0.2s ease-in-out;
-ms-transition: opacity 0.2s ease-in-out;
transition: opacity 0.2s ease-in-out;
}
#back_to_top a:hover { opacity: 1 }
.js #back_to_top { display: none }


/*
@group Pagination
--------------------------------------------------------------------- */
.pagination {
  font-family: '$pagination-font-family', sans-serif;
  font-weight: $pagination-font-weight !important;
  background-color: $pagination-background;
  color: $pagination-text;
  position: relative;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .inner { background: none !important; padding: 20px 10px 20px 10px; height: 18px; }
  p { margin: 0 !important; position: relative; }
  a, .current_page { font-size: 1.5em; line-height: 1em; padding: 16px 0 20px; }
  a { color: $pagination-text; display: block; position: absolute; text-decoration: none; top: 0; opacity: 0.7; z-index: 6666; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
  a:hover { color: $pagination-text; opacity: 1; }
  a.next::before, a.previous::before { content: ""; display: block; position: absolute; width: 60px; height: 60px; top: 0; }
  a.previous { left: 0px; padding-left: 60px; }
  a.previous::before { left: 0; background-position: 0 -720px; }
  a.archive { position: relative; text-align: center; margin-top: -20px}
  a.next { right: 0px; padding-right: 60px; }
  a.next::before { right: 0; background-position: -60px -720px; }
  .current_page { display: block; font-style: italic; text-align: center; opacity: 0.4; margin-top: -20px; }
}
.pagination::after { background-color: rgba(0, 0, 0, 0.05); content: ""; display: block; position: absolute; left: 0; bottom: -4px; width: 100%; height: 4px; z-index: 4444; }

/*
@group Typography
--------------------------------------------------------------------- */
.cont {
  font-size: $body-font-size-desktop;
  line-height: 1.5em;
  margin: 20px 0;
  a { text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
  p,
  ol,
  ul,
  dl,
  pre,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  img,
  embed,
  object { margin: 0 0 1em 0 }
  p:empty { display: none }
  ol, .cont ul { margin-left: 1.5em }
  blockquote { border-top: 2px solid white; border-bottom: 2px solid white; margin: 20px 0; padding: 20px 20px 0 70px; position: relative; }
  blockquote::before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 60px; height: 60px; }
}

/* Page Title */
.post_title { font-family: 'Open Sans', sans-serif; font-weight: 700 !important; }

/* Post Title */
.post_title { font-family: $post-header-font-family, sans-serif; font-weight: $post-header-font-weight !important; }

.is_text .post_title { text-transform: $post-header-text-transform; }

/* Post Footer */
.post_footer { font-size: 1em; font-style: italic; line-height: 1.5em; }
.post_footer .timestamp::before,
.post_footer .tag_list::before { margin: 2px 2px 0 -2px }

.centered { text-align: center; }

.quote {
  padding-left:  30px;
  padding-right: 30px;
  font-style: italic;
  font-size: 16px;
}

/* Blog Footer */
.blog_footer {
  h4 {
    font-family: '$footer-header-font-family', sans-serif;
    font-weight: $footer-header-font-weight !important;
    font-size: $footer-header-font-size;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 1em;
    text-transform: $footer-header-text-transform;
  }
  ol, ul, p { font-size: $footer-font-size; line-height: 1.5em; margin-bottom: 1em; }
}


