/* Pixel Moxie's LUOMO Tumblr Theme - v1.2.1 */

$mobile-filter-label-background:  #f2f2f2;
$mobile-filter-label-border:      #d9d9d9;
$mobile-filter-label-inset:       #ffffff;
$mobile-filter-dropdown-bg:       #d9d9d9;
$mobile-filter-dropdown-bg-hover: #cccccc;
$mobile-filter-text-color:        #666666;
$mobile-filter-text-color:        #333333;
$desktop-filter-border:           #cccccc;
$desktop-filter-item-bg:          #cccccc;
$desktop-filter-item-bg-hover:    #999999;
$desktop-filter-text-color:       #f5f5f5;
$dark-post-text:                  #f5f5f5;
$dark-post-accent:                #00ccff;
$dark-post-link:                  #00ccff;
$dark-post-link-hover:            #f5f5f5;
$dark-post-link-hover-bg:         #333333;
$light-post-background:           #afb5b6;
$light-post-text:                 #333333;
$light-post-accent:               #00ccff;
$light-post-link:                 #007A99;
$light-post-link-hover:           #333333;
$light-post-link-hover-bg:        #f5f5f5;
$footer-background:               #343332;
$footer-text:                     #9a9998;
$footer-link:                     #f5f5f5;
$footer-link-hover:               #00ccff;
$pagination-background:           #40403f;
$pagination-text:                 #f5f5f5;
$disqus-thread-accent:            #00ccff;
$slider-control-nav-normal:       #333333;
$slider-control-nav-hover:        #f5f5f5;

$page-header-font-family:        'Open Sans';
$page-header-font-weight:        700;
$page-header-font-size-phone:    18px;
$page-header-font-size-tablet:   24px;
$page-header-font-size-desktop:  36px;
$body-font-stack:                "'Segoe UI', Tahoma, Helvetica, sans-serif";
$body-font-size-phone:           16px;
$body-font-size-tablet:          18px;
$body-font-size-desktop:         24px;
$post-filter-font-family:        'Open Sans Condensed';
$post-filter-font-weight:        600;
$post-filter-font-size:          16px;
$post-filter-text-transform:     uppercase;
$post-info-font-family:          'Open Sans Condensed';
$post-info-font-weight:          700;
$post-header-font-family:        'Open Sans';
$post-header-font-weight:        700;
$post-header-font-size-phone:    18px;
$post-header-font-size-tablet:   24px;
$post-header-font-size-desktop:  36px;
$post-header-text-transform:     none;
$footer-header-font-family:      'Open Sans';
$footer-header-font-weight:      300;
$footer-header-font-size:        24px;
$footer-header-text-transform:   uppercase;
$footer-font-size:               14px;
$pagination-font-family:         Open Sans;
$pagination-font-weight:         300;

/* ==================================================================

@group Responsive Grid

===================================================================== */
/* @media screen and (min-width: 480px) */
@media screen and (min-width: 30em) { #blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { width: 25.5em; } } /* 6 column grid. */

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) { #blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { width: 34.5em; } } /* 8 column grid. */

/* @media screen and (min-width: 1024px) */
@media screen and (min-width: 64em) { #blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { width: 52.5em; } } /* 12 column grid. */

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 80em) { #blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { width: 61.5em; } } /* 14 column grid. */

/* @media screen and (min-width: 1440px) */
@media screen and (min-width: 90em) { #blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { width: 70.5em; } } /* 16 column grid. */

/* ==================================================================

@group Main Styles

===================================================================== */

body { background-color: #343332; font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 1em; line-height: 1.5em; }

/*
@group Icon Sources
--------------------------------------------------------------------- */
.flex-direction-nav a,
.pagination a::before,
.post .cont blockquote::before,
.post .cont ol.notes blockquote::before,
.post .icon,
.post .icon_link a,
.post_footer .timestamp::before,
.search_button span.icon,
#back_to_top a,
#filter_tags_desktop li a,
#filter_tags_mobile .trigger span.icon { background-image: url(http://static.tumblr.com/6nxvfxq/cyAmh0biv/luomo_icons.png); }
#social_links li a { background-image: url(http://static.tumblr.com/6nxvfxq/4S2mh0bl1/social_icons.png); }

/* 2 dpr and 1.5 dpr */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .flex-direction-nav a,
  .pagination a::before,
  .post .cont blockquote::before,
  .post .cont ol.notes blockquote::before,
  .post .icon,
  .post .icon_link a,
  .post_footer .timestamp::before,
  .search_button span.icon,
  #back_to_top a,
  #filter_tags_desktop li a,
  #filter_tags_mobile .trigger span.icon { background-image: url(http://static.tumblr.com/6nxvfxq/TOhmh0bj8/luomo_icons_2x.png); background-size: 480px 860px }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #social_links li a { background-image: url(http://static.tumblr.com/6nxvfxq/Ou8mh0ble/social_icons_2x.png); background-size: 1120px 80px }
}

/*
@group Header
--------------------------------------------------------------------- */
#blog_header { background-color: #f5f5f5; position: relative; }
#blog_header::after { background: transparent url(http://static.tumblr.com/6nxvfxq/Vhamh0bjk/post_shadow.png) repeat-x top; content: ""; display: block; position: absolute; left: 0; bottom: -20px; width: 100%; height: 20px; z-index: 4444; pointer-events: none; }
#blog_header_top { padding-bottom: 10px; position: relative; }
#title_link a { text-decoration: none; color: gray; }
#title_link h1 { text-align: center; padding: 0px; line-height:1em; font-size: 84px; font-style: italic; }

/* Post Type Filter */
#blog_header_filter { position: relative }
#filter_tags_mobile { margin-right: 34px; padding-bottom: 20px; }
#filter_tags_mobile .trigger { background-color: $mobile-filter-label-background; border: 1px solid $mobile-filter-label-border; box-shadow: inset 0 1px 0 $mobile-filter-label-inset; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#filter_tags_mobile .trigger span.icon { background-position: -120px -380px; display: block; position: absolute; top: -1px; right: 0; width: 30px; height: 30px; opacity: 0.7; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
#filter_tags_mobile .trigger.is_open span.icon { background-position: -150px -380px }
#filter_tags_mobile .trigger, #filter_tags_mobile .dropdown a { color: $mobile-filter-text-color; cursor: pointer; display: block; font-size: 0.875em; font-weight: bold; height: 30px; letter-spacing: 1px; line-height: 30px; padding: 0 10px; text-decoration: none; text-transform: uppercase; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
#filter_tags_mobile .trigger:hover span.icon, #filter_tags_mobile .dropdown a:hover span.icon { opacity: 1 }
#filter_tags_mobile .dropdown { display: none; position: relative; }
#filter_tags_mobile .dropdown::before { opacity: 0.15 !important; top: -1px !important; }
#filter_tags_mobile .dropdown li { display: block; list-style: none; }
#filter_tags_mobile .dropdown a { background-color: $mobile-filter-dropdown-bg }
#filter_tags_mobile .dropdown a:hover { background-color: $mobile-filter-dropdown-bg-hover }

#filter_tags_desktop { display: none; text-align: center; }
#filter_tags_desktop li { display: inline-block; list-style: none; margin: 0 -2px; vertical-align: top; }
#filter_tags_desktop li a { background-color: $desktop-filter-item-bg; display: block; width: 60px; height: 60px; margin: 1px 1px 1px 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
#filter_tags_desktop li a:hover { background-color: $desktop-filter-item-bg-hover; box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1); }
#filter_tags_desktop li.text a { background-position: 0 0 }
#filter_tags_desktop li.photo a { background-position: -60px 0 }
#filter_tags_desktop li.quote a { background-position: -120px 0 }
#filter_tags_desktop li.link a { background-position: -180px 0 }
#filter_tags_desktop li.chat a { background-position: -240px 0 }
#filter_tags_desktop li.audio a { background-position: -300px 0 }
#filter_tags_desktop li.video a { background-position: -360px 0 }
#filter_tags_desktop li.answer a { background-position: -420px 0 }

#filter_tags_desktop.text_based_filter a { background-image: none; color: $desktop-filter-text-color; width: auto; height: auto; font-family: '$post-filter-font-family', sans-serif; font-size: $post-filter-font-size; font-weight: $post-filter-font-weight; line-height: 20px; padding: 20px; text-decoration: none; text-indent: 0 !important; text-shadow: 1px 1px 0 $desktop-filter-item-bg, 2px 2px 0 rgba(0, 0, 0, 0.2); text-transform: $post-filter-text-transform; }
#filter_tags_desktop.text_based_filter a:hover { padding: 19px 20px 21px; text-shadow: 1px 1px 0 $desktop-filter-item-bg-hover, 2px 2px 0 rgba(0, 0, 0, 0.2); }

#filter_tags_desktop.icon_based_filter .custom { display: none }

/* Search */
.search_button { background-color: $mobile-filter-label-background; border: 1px solid $mobile-filter-label-border; box-shadow: inset 0 1px 0 $mobile-filter-label-inset; cursor: pointer; position: absolute; width: 30px; height: 30px; right: 0; top: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.search_button span.icon { background-position: -90px -380px; display: block; position: absolute; width: 30px; height: 30px; top: -1px; left: -1px; opacity: 0.7; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.search_button:hover span.icon { opacity: 1 }
#modal_search_box { visibility: hidden; background: #fff; position: fixed; top: 120px; left: 50%; width: 90%; margin: -12px 0 0 -45%; padding: 10px 0; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); z-index: 9999; border-radius: 999em; }
#modal_search_box input { background: transparent; border: none; color: #666666; font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif; font-size: 1.2em; line-height: 1; text-align: center; width: 100%; }
#modal_search_box input:focus { outline: none }
.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #fff; background: rgba(255, 255, 255, 0.8); z-index: 8888; display: none; top: 0; left: 0; }

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) {
  #modal_search_box { margin: -40px 0 0 -240px; padding: 20px 40px; top: 10em; width: auto; }
  #modal_search_box input { font-size: 1.5em; line-height: 1em; width: 400px; }
}

/* @media screen and (min-width: 1024px) */
@media screen and (min-width: 64em) {
  #blog_header_top { padding: 0 }
  #social_links { padding-bottom: 20px }
  #blog_header_filter { border-top: 1px solid $desktop-filter-border }
  #filter_tags_mobile { display: none }
  #filter_tags_desktop { display: block }
  .search_button { background: transparent; border: none; box-shadow: none; width: 60px; height: 60px; top: 1px; }
  .search_button span.icon { background-position: 0 -380px; width: 60px; height: 60px; opacity: 0.5; top: 0; left: 0; }
}

@media screen and (min-width: 80em) {
  #blog_header_filter { border-top: 1px solid $desktop-filter-border }
  #filter_tags_mobile { display: none }
  #filter_tags_desktop { display: block }
  .search_button { background: transparent; border: none; box-shadow: none; width: 60px; height: 60px; top: 1px; }
  .search_button span.icon { background-position: 0 -380px; width: 60px; height: 60px; opacity: 0.5; top: 0; left: 0; }
}

@media screen and (min-width: 90em) {
  #blog_header_filter { border-top: 1px solid $desktop-filter-border }
  #filter_tags_mobile { display: none }
  #filter_tags_desktop { display: block }
  .search_button { background: transparent; border: none; box-shadow: none; width: 60px; height: 60px; top: 1px; }
  .search_button span.icon { background-position: 0 -380px; width: 60px; height: 60px; opacity: 0.5; top: 0; left: 0; }
}

@media screen and (min-width: 100em) {
  #blog_header_filter { border-top: 1px solid $desktop-filter-border }
  #filter_tags_mobile { display: none }
  #filter_tags_desktop { display: block }
  .search_button { background: transparent; border: none; box-shadow: none; width: 60px; height: 60px; top: 1px; }
  .search_button span.icon { background-position: 0 -380px; width: 60px; height: 60px; opacity: 0.5; top: 0; left: 0; }
}

/* ==================================================================

@group Posts

===================================================================== */

.post { border-top: 1px solid #f5f5f5; min-height: 7.5em; position: relative; }
.post:first-child { border: none }
.post::after { background: transparent url(http://static.tumblr.com/6nxvfxq/Vhamh0bjk/post_shadow.png) repeat-x bottom; content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 20px; z-index: 4444; pointer-events: none; opacity: 0.7; }
.post figure img { height: auto; width: 100%; }
/*.js .post { display: none } */
.post .inner { padding-bottom: 2em }
.post .read_more_container { margin: 0 }
#filter_tags_mobile .dropdown::before, .is_permalink_page .post .inner::before { background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 5px; z-index: 6666; pointer-events: none; opacity: 0.4; }

/*
@group Post Info Bar
--------------------------------------------------------------------- */
.post_info_bar { border-bottom: 1px solid #f5f5f5; border-right: 1px solid #f5f5f5; position: relative; height: auto; width: 100%; z-index: 5555; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.post_info_bar .icon_link { position: absolute; left: 0; top: 0; width: 40px; height: 40px; z-index: 3333; }
.post_info_bar .icon_link a { cursor: pointer; display: block; width: 100%; height: 100%; }
.post_info_bar ul { list-style: none; margin: 0; padding: 0 0 0 40px; position: relative; width: 100%; z-index: 2222; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; *zoom: 1; }
.post_info_bar li { display: block; float: left; }
.post_info_bar li a { background: transparent url(http://static.tumblr.com/6nxvfxq/Paymh0bgh/info_bar_button_bg.png) no-repeat 0 -9999em; display: block; font-size: 0.875em; font-weight: 700; height: 40px; line-height: 40px; padding: 0 5px; text-decoration: none; text-transform: uppercase; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out; -ms-transition: background-color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out; }
.post_info_bar li a {
  font-family: '$post-info-font-family', sans-serif;
  font-weight: $post-info-font-weight !important;
}
.post_info_bar li a:hover { background-position: 0 0; }
.post_info_bar li a .icon { display: block; float: left; width: 30px; height: 30px; margin: 5px 0; }
.post_info_bar li a .legend { margin: 0 7px 0 0 }
.post_info_bar li:last-child { float: none; position: absolute; top: 0; right: 0; }
.post_info_bar::before { background: transparent url(http://static.tumblr.com/6nxvfxq/QYzmh0bkc/shadow.png) no-repeat right bottom; content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 0 7px 8px 0; pointer-events: none; z-index: 1111; opacity: 0.7; }
.post_info_bar::after { background: transparent url(http://static.tumblr.com/6nxvfxq/Azfmh0bhe/info_bar_shadow.png) repeat-y; content: ""; display: block; position: absolute; left: 40px; top: 0; width: 20px; height: 100%; pointer-events: none; z-index: 3333; }

/* Retina stuff */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .post_info_bar li a { background-image: url(http://static.tumblr.com/6nxvfxq/PM8mh0bgy/info_bar_button_bg_2x.png); background-size: 280px 65px; }
}

/* @media screen and (min-width: 1024px) */
@media screen and (min-width: 64em) {
  .post_info_bar .icon_link { width: 60px; height: 60px; }
  .post_info_bar ul { padding: 0 0 0 60px }
  .post_info_bar ul li a { font-size: 1.125em; height: 60px; line-height: 60px; }
  .post_info_bar ul li a .icon { width: 40px; height: 40px; margin: 10px 0; }
  .post_info_bar ul li a .legend { margin: 0 10px 0 0 }
  .post_info_bar ul li:first-child a { padding-left: 15px }
  .post_info_bar ul li:last-child a { padding-right: 15px }
  .post_info_bar::after { left: 60px }
}

/*
@group Post Icons
--------------------------------------------------------------------- */

/* Hide post info bar */
/* .post.is_text .icon_link, .post_info_bar      { display: none; } */
/* @media screen and (min-width: 48em) { */
/*   .post.is_text .icon_link, .post_info_bar    { display: block; } */
/* } */

/* Post types and post actions */

/* Dark backgrounds */
.post.dark.is_text .icon_link a               { background-position: 0 -200px; }
.post.dark.is_photo .icon_link a              { background-position: -40px -200px; }
.post.dark.is_quote .icon_link a              { background-position: -80px -200px; }
.post.dark.is_link .icon_link a               { background-position: -120px -200px; }
.post.dark.is_chat .icon_link a               { background-position: -160px -200px; }
.post.dark.is_audio .icon_link a              { background-position: -200px -200px; }
.post.dark.is_video .icon_link a              { background-position: -240px -200px; }
.post.dark.is_answer .icon_link a             { background-position: -280px -200px; }
.post.dark .timestamp .icon                   { background-position: 0 -280px; }
.post.dark .notecount .icon                   { background-position: -30px -280px; }
.post.dark .dsq-comment-count .icon           { background-position: -60px -280px; }
.post.dark .sharethis .icon                   { background-position: -90px -280px; }
.post.dark .reblogthis .icon                  { background-position: -120px -280px; }
.post.dark .post_footer .timestamp::before    { background-position: 0 -340px; }
.post.dark .cont blockquote::before           { background-position: -120px 0; }
.post.dark .cont ol.notes blockquote::before  { background-position: -80px -200px; }

/* Light backgrounds */
.post.light.is_text .icon_link a              { background-position: 0 -240px; }
.post.light.is_photo .icon_link a             { background-position: -40px -240px; }
.post.light.is_quote .icon_link a             { background-position: -80px -240px; }
.post.light.is_link .icon_link a              { background-position: -120px -240px; }
.post.light.is_chat .icon_link a              { background-position: -160px -240px; }
.post.light.is_audio .icon_link a             { background-position: -200px -240px; }
.post.light.is_video .icon_link a             { background-position: -240px -240px; }
.post.light.is_answer .icon_link a            { background-position: -280px -240px; }
.post.light .timestamp .icon                  { background-position: 0 -310px; }
.post.light .notecount .icon                  { background-position: -30px -310px; }
.post.light .dsq-comment-count .icon          { background-position: -60px -310px; }
.post.light .sharethis .icon                  { background-position: -90px -310px; }
.post.light .reblogthis .icon                 { background-position: -120px -310px; }
.post.light .post_footer .timestamp::before   { background-position: 0 -360px; }
.post.light .cont blockquote::before          { background-position: -120px -60px; }
.post.light .cont ol.notes blockquote::before { background-position: -80px -240px; }

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 64em) {
  /* Dark backgrounds */
  .post.dark.is_text .icon_link a         { background-position: 0 0; }
  .post.dark.is_photo .icon_link a        { background-position: -60px 0; }
  .post.dark.is_quote .icon_link a        { background-position: -120px 0; }
  .post.dark.is_link .icon_link a         { background-position: -180px 0; }
  .post.dark.is_chat .icon_link a         { background-position: -240px 0; }
  .post.dark.is_audio .icon_link a        { background-position: -300px 0; }
  .post.dark.is_video .icon_link a        { background-position: -360px 0; }
  .post.dark.is_answer .icon_link a       { background-position: -420px 0; }
  .post.dark .timestamp .icon             { background-position: 0 -120px; }
  .post.dark .notecount .icon             { background-position: -40px -120px; }
  .post.dark .dsq-comment-count .icon     { background-position: -80px -120px; }
  .post.dark .sharethis .icon             { background-position: -120px -120px; }
  .post.dark .reblogthis .icon            { background-position: -160px -120px; }

  /* Light backgrounds */
  .post.light.is_text .icon_link a        { background-position: 0 -60px; }
  .post.light.is_photo .icon_link a       { background-position: -60px -60px; }
  .post.light.is_quote .icon_link a       { background-position: -120px -60px; }
  .post.light.is_link .icon_link a        { background-position: -180px -60px; }
  .post.light.is_chat .icon_link a        { background-position: -240px -60px; }
  .post.light.is_audio .icon_link a       { background-position: -300px -60px; }
  .post.light.is_video .icon_link a       { background-position: -360px -60px; }
  .post.light.is_answer .icon_link a      { background-position: -420px -60px; }
  .post.light .timestamp .icon            { background-position: 0 -160px; }
  .post.light .notecount .icon            { background-position: -40px -160px; }
  .post.light .dsq-comment-count .icon    { background-position: -80px -160px; }
  .post.light .sharethis .icon            { background-position: -120px -160px; }
  .post.light .reblogthis .icon           { background-position: -160px -160px; }
}

/*
@group Comments & Notes
--------------------------------------------------------------------- */
ol.notes { margin: 60px 0 !important; padding: 0; }
ol.notes li.note { display: block; list-style: none; margin: 0.5em 0 0.5em 40px; position: relative; }
ol.notes li.note > a:first-child { background: rgba(0, 0, 0, 0.1) !important; border: none !important; display: block; position: absolute; top: 0; left: -40px; }
ol.notes li.note > a:first-child img { display: block; margin: 0 2px 2px 0; width: 30px; height: auto; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
ol.notes li.note > a:first-child:hover { background: rgba(0, 0, 0, 0.1) !important }
ol.notes li.note > a:first-child:hover img { opacity: 0.8 }
ol.notes li.note blockquote { border: none !important; margin: 0; padding: 0 0 0 40px; }
ol.notes li.note blockquote::before { width: 40px; height: 40px; }
ol.notes li.note .clear { clear: both }

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) {
  ol.notes li.note { margin-left: 50px }
  ol.notes li.note > a:first-child { left: -50px }
  ol.notes li.note > a:first-child img { width: 40px }
}

#disqus_thread { background-color: #333333; background-color: rgba(51, 51, 51, 0.7); color: white; margin: 60px 0 40px; padding: 20px; }
#disqus_thread a { color: $disqus-thread-accent }

/*
@group Post Footer
--------------------------------------------------------------------- */
.post_footer { margin: 2em 0 0; font-style: italic; }
.post_footer ul { list-style: none; margin: 0; padding: 0; }
.post_footer a { text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.post_footer .timestamp { padding: 0 0 0 20px; position: relative; }
.post_footer .timestamp::before { background-color: transparent; content: ""; display: block; left: 0; top: 0; position: absolute; width: 20px; height: 20px; margin: 0 0 0 -2px; }
.post_footer .tag_list { margin: 20px 0 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.post_footer .tags { font-size: 0.75em; font-style: normal; font-weight: bold; line-height: 1em; margin-left: -2px; }
.post_footer .tags li { display: inline-block; margin: 2px; }
.post_footer .tags a { display: block; padding: 4px 10px; border-radius: 999em; }
.post_footer .tags a:hover { opacity: 0.7 }

/*
@group Post Colors
--------------------------------------------------------------------- */

/* Dark backgrounds */
.post:nth-child(odd),
.post:nth-child(even).dark,
.post.dark { background-color: #494f50 }
.post.dark .post_info_bar { background-color: #494f50 }
.post.dark .post_info_bar .icon_link, .post.dark .post_info_bar li a { background-color: #494f50; color: $dark-post-text; }
.post.dark .post_info_bar li a:hover { background-color: $dark-post-accent !important; }
.post.dark .cont { color: $dark-post-text }
.post.dark .cont a { color: $dark-post-link; border-bottom: 2px solid $dark-post-link; }
.post.dark .cont a:hover { color: $dark-post-link-hover; background-color: $dark-post-link-hover-bg; border-color: $dark-post-link-hover; }
.post.dark .cont h2 a { color: $dark-post-text }
.post.dark .cont h2 a:hover { color: $dark-post-link; background: none !important; }
.post.dark .cont.reverse h2 a { color: $dark-post-link }
.post.dark .cont.reverse h2 a:hover { color: $dark-post-link-hover }
.post.dark .cont blockquote { border-color: $dark-post-text }
.post.dark .cont ol.notes blockquote a { background: transparent !important; border: none !important; color: $dark-post-text !important; }
.post.dark .post_footer, .post.dark .post_footer a { color: $dark-post-text }
.post.dark .post_footer a:hover { color: $dark-post-link }
.post.dark .post_footer .tag_list a { background-color: $dark-post-text; color: #494f50 !important; }

/* Light backgrounds */
.post:nth-child(even),
.post:nth-child(odd).light,
.post.light { background-color: $light-post-background }
.post.light .post_info_bar { background-color: $light-post-background }
.post.light .post_info_bar .icon_link, .post.light .post_info_bar li a { background-color: $light-post-background; color: $light-post-text; }
.post.light .post_info_bar li a:hover { background-color: $light-post-accent !important; }
.post.light .cont { color: $light-post-text }
.post.light .cont a { color: $light-post-link; border-bottom: 2px solid $light-post-link; }
.post.light .cont a:hover { color: $light-post-link-hover; background-color: $light-post-link-hover-bg; border-color: $light-post-link-hover; }
.post.light .cont h2 a { color: $light-post-text }
.post.light .cont h2 a:hover { color: $light-post-link; background: none !important; }
.post.light .cont.reverse h2 a { color: $light-post-link }
.post.light .cont.reverse h2 a:hover { color: $light-post-link-hover }
.post.light .cont blockquote { border-color: $light-post-text }
.post.light .cont ol.notes blockquote a { background: transparent !important; border: none !important; color: $light-post-text !important; }
.post.light .post_footer, .post.light .post_footer a { color: $light-post-text }
.post.light .post_footer a:hover { color: $light-post-link }
.post.light .post_footer .tag_list a { background-color: $light-post-text; color: $light-post-background !important; }

/*
@group Photo & Photoset Posts
--------------------------------------------------------------------- */
.is_photo figure, .is_photoset figure { background-color: rgba(0, 0, 0, 0.1); padding-bottom: 4px; }

/*
@group Photoset Flexslider
--------------------------------------------------------------------- */
.is_photoset .flexslider li { list-style: none }

/*
FlexSlider Necessary Styles
--------------------------------------------------------------------- */
.flexslider { margin: 0; padding: 0; position: relative; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { width: 100%; display: block; }
.flex-pauseplay span { text-transform: capitalize }

/* Clearfix for the .slides element */
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .slides { display: block }
* html .slides { height: 1% }

/* No JavaScript Fallback */
.no-js .slides > li:first-child { display: block }

/*
FlexSlider Theme Styles
--------------------------------------------------------------------- */

/* Direction Nav */
.flex-direction-nav { *height: 0 }
.flex-direction-nav a { background-repeat: no-repeat; border: 1px solid #f5f5f5; box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5); cursor: pointer; display: block; position: absolute; top: 50%; width: 40px; height: 40px; margin: -20px 0 0; opacity: 0; z-index: 10; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.flex-direction-nav a::before { background-image: url(http://static.tumblr.com/6nxvfxq/VlMmefkb8/info_bar_button_bg.png); content: ""; display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.flex-direction-nav a:hover::before { display: block }
.flex-direction-nav .flex-prev { left: -20px; border-left: none; }
.flex-direction-nav .flex-prev::after { background-position: right top }
.flex-direction-nav .flex-next { right: -20px; border-right: none; }
.flex-direction-nav .flex-next::after { background-position: left top }
.post.dark .flex-direction-nav a { background-color: #494f50 }
.post.dark .flex-direction-nav a:hover { background-color: $dark-post-accent !important; }
.post.dark .flex-direction-nav .flex-prev { background-position: 0 -560px }
.post.dark .flex-direction-nav .flex-next { background-position: -40px -560px }
.post.light .flex-direction-nav a { background-color: $light-post-background }
.post.light .flex-direction-nav a:hover { background-color: $light-post-accent !important; }
.post.light .flex-direction-nav .flex-prev { background-position: 0 -600px }
.post.light .flex-direction-nav .flex-next { background-position: -40px -600px }

/* Retina stuff */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .flex-direction-nav a::before { background-image: url(http://static.tumblr.com/6nxvfxq/PM8mh0bgy/info_bar_button_bg_2x.png); background-size: 280px 65px; }
}

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 80em) {
  .flex-direction-nav a { width: 60px; height: 60px; margin: -30px 0 0; }
  .post.dark .flex-direction-nav .flex-prev { background-position: 0 -440px }
  .post.dark .flex-direction-nav .flex-next { background-position: -60px -440px }
  .post.light .flex-direction-nav .flex-prev { background-position: 0 -500px }
  .post.light .flex-direction-nav .flex-next { background-position: -60px -500px }
}

.flexslider:hover .flex-prev { opacity: 1; left: 0; }
.flexslider:hover .flex-next { opacity: 1; right: 0; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1 }
.flex-direction-nav .flex-disabled { opacity: .3 !important; filter: alpha(opacity=30); cursor: default; }

/* Control Nav */
.flex-control-nav { width: 100%; position: absolute; bottom: 20px; text-align: center; }
.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-nav li a { width: 11px; height: 11px; display: block; background: $slider-control-nav-normal; cursor: pointer; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out; -ms-transition: background-color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out; }
.flex-control-nav li a:hover { background-color: $slider-control-nav-hover }
.post.dark .flex-control-nav li a.flex-active { background-color: $dark-post-accent; cursor: default; }
.post.light .flex-control-nav li a.flex-active { background-color: $light-post-accent; cursor: default; }

@media screen and (max-width: 64em) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 0; }
  .flex-direction-nav .flex-next { opacity: 1; right: 0; }
}

/*
@group Audio Posts
--------------------------------------------------------------------- */
.is_audio figure { background-color: rgba(0, 0, 0, 0.1); padding-bottom: 4px; }
.is_audio .audio_holder { background-color: black; min-height: 27px; padding: 7px 10px; position: relative; }
.is_audio .audio_player { position: absolute; left: 0; top: 0; padding: 7px 10px; z-index: 4444; }
.is_audio .playcount { display: none }
.is_audio .audio_embed { position: relative; padding: 20px 0 0; overflow: hidden; }
.is_audio .audio_embed iframe { width: 100% !important; }
.is_audio .audio_embed .spotify_audio_player { width: 264px !important; height: 344px !important; }

/* @media screen and (min-width: 480px) */
@media screen and (min-width: 30em) {
  .is_audio .audio_embed .spotify_audio_player { width: 408px !important; height: 488px !important; }
}

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) {
  .is_audio .playcount { color: #f5f5f5; display: block; font-size: 1em; line-height: 1.6875em; margin: 0; text-align: right; font-style: italic; opacity: 0.6; }
  .is_audio .audio_holder, .is_audio .audio_player { padding: 20px }
  .is_audio .audio_embed .spotify_audio_player { width: 552px !important; height: 632px !important; }
}

/* @media screen and (min-width: 1024px) */
@media screen and (min-width: 64em) {
  .is_audio figure { float: left; padding: 0 4px 4px 0; width: 300px; }
  .is_audio .audio_details { margin-left: 300px; padding: 20px 20px 0 20px; }
  .is_audio_embed .audio_details { margin: 0; padding: 0; }
  .is_audio.is_spotify_embed .audio_embed { float: left }
  .is_audio.is_spotify_embed .audio_details { margin-left: 300px; padding: 0 20px; }
  .is_audio .audio_embed .spotify_audio_player { width: 300px !important; height: 380px !important; }
}

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 80em) {
  .is_audio figure { width: 400px }
  .is_audio .audio_embed { margin: 0; padding: 30px 30px 0 90px; }
  .is_audio .audio_details { margin-left: 400px; padding-right: 30px; }
  .is_audio_embed .audio_details { margin-left: 90px; padding: 0; }
  .is_audio.is_spotify_embed .audio_details { margin-left: 490px; padding: 10px 0 0 30px; }
  .is_audio .audio_embed .spotify_audio_player { width: 400px !important; height: 480px !important; }
}

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 80em) {
  .is_audio figure { width: 400px }
  .is_audio .audio_embed { margin: 0; padding: 30px 30px 0 90px; }
  .is_audio .audio_details { margin-left: 400px; padding-right: 30px; }
  .is_audio_embed .audio_details { margin-left: 90px; padding: 0; }
  .is_audio.is_spotify_embed .audio_details { margin-left: 490px; padding: 10px 0 0 30px; }
  .is_audio .audio_embed .spotify_audio_player { width: 400px !important; height: 480px !important; }
}

/* ===[ Jplayer skin ]=== */
.jp-audio { width: 235px; height: 27px; overflow: hidden; position: relative; }
.jp-interface { position: relative; width: 100%; }
.jp-controls { margin: 0; padding: 0; position: relative; }
.jp-controls li { display: inline; float: left; }
.jp-controls li a { background: transparent url(http://static.tumblr.com/6nxvfxq/E61mh7quy/jplayer_skin.png) no-repeat; display: block; opacity: 0.9; outline: none; overflow: hidden; padding: 0; text-indent: 100%; white-space: nowrap; width: 27px; height: 27px; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.jp-controls li a:hover { opacity: 0.7 }
.jp-controls .jp-play { background-position: 0 0 }
.jp-controls .jp-pause { background-position: -27px 0 }
.jp-progress { position: absolute; left: 40px; top: 0; width: 195px; height: 21px; margin: 3px 0; overflow: hidden; }
.jp-seek-bar { background-color: #333; width: 0; height: 100%; overflow: hidden; cursor: pointer; }
.jp-play-bar { background-color: #666; border-right: 2px solid #e6e6e6; width: 0; height: 100%; overflow: hidden; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.jp-no-solution { background: #000; color: #fff; display: none; font-size: 12px; line-height: 1.1; position: absolute; left: 40px; top: 0; }
.jp-no-solution a { color: #fff; text-decoration: underline; }
.is_audio.html_solution .playcount { display: none }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .jp-controls li a { background-image: url(http://static.tumblr.com/6nxvfxq/BIEmh7qvu/jplayer_skin_2x.png); background-size: 54px 27px; }
}

/*
@group Video Posts
--------------------------------------------------------------------- */
.is_video .video_holder { background-color: rgba(0, 0, 0, 0.8); position: relative; }
.is_video .video_holder::after { background-color: rgba(0, 0, 0, 0.1); content: ""; display: block; width: 100%; height: 4px; position: absolute; left: 0; bottom: -4px; }
.is_video .video_wrapper { margin: 0 auto; width: auto; }
.is_video .tumblr_video_container { width: 100% !important; height: auto !important; }
.js .video_wrapper { opacity: 0; }

/*
@group Chat, Link, Quote & Text Posts
--------------------------------------------------------------------- */
.post.no_media .caption h2 { font-size: $post-header-font-size-phone; line-height: 1.1em; margin: 0 0 0.75em 0; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }
.post.no_media .caption h2 a { border-bottom: none !important; -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; -ms-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }
.is_chat .conversation { list-style: none }
.quote .quote_source::before { content: "\2014 \2009" }
.quote_medium .post_title span { font-size: 85% }
.quote_long .post_title span { font-size: 75% }

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) {
  .post.no_media .caption h2 { font-size: $post-header-font-size-tablet; padding: 0 20px }
  .post.no_media .content_source, .post.no_media .conversation, .post.no_media .post_body, .post.no_media .post_footer, .post.no_media .quote_source { padding: 0 20px }
  .post.no_media .inner { background-position: -60px -60px; background-repeat: no-repeat; }
  .post.no_media.dark .inner { background-image: url(http://static.tumblr.com/6nxvfxq/4VBmefkeg/text_post_bg_dark.png) }
  .post.no_media.light .inner { background-image: url(http://static.tumblr.com/6nxvfxq/uGumefkf0/text_post_bg_light.png) }
}

/* Retina stuff */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)   and (min-width: 48em),
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 48em),
only screen and (min-resolution: 192dpi)              and (min-width: 48em),
only screen and (min-resolution: 144dpi)              and (min-width: 48em) {
  .post.no_media.dark .inner { background-image: url(http://static.tumblr.com/6nxvfxq/bramh0bm2/text_post_bg_dark_2x.png); background-size: 984px 492px; }
  .post.no_media.light .inner { background-image: url(http://static.tumblr.com/6nxvfxq/Z2Kmh0bmq/text_post_bg_light_2x.png); background-size: 984px 492px; }
}

@media screen and (min-width: 80em) {
  .post.no_media .caption h2 { margin: 0 0 24px 80px; padding: 0; }
}

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 80em) {
  .post.no_media .conversation, .post.no_media .content_source, .post.no_media .post_body, .post.no_media .post_footer, .post.no_media .post_footer, .post.no_media .quote_source { padding: 0 30px }
  .post.no_media .caption h2 { font-size: $post-header-font-size-desktop; line-height: 40px; margin: 12px 0 24px 80px; padding: 0; }
  .post.no_media .caption p { margin-top: 36px; text-indent: 50px; }
  .post.no_media .caption p + p { margin-top: 0; text-indent: 0; }
  .post.no_media .caption.has_title { margin-top: 0 }
  .post.no_media .caption.has_title p { margin-top: 0; text-indent: 0; }
  .is_chat .conversation { margin-top: 72px }
  .is_chat .caption.has_title .conversation { margin-top: 0 }
  .is_permalink_page .post.no_media .caption.has_title { margin-top: 1em }
  .is_permalink_page .post.no_media .caption h2 { margin-left: 30px }
  .is_permalink_page .post.no_media .caption p { text-indent: 0 }
}

/*
@group Footer
--------------------------------------------------------------------- */
.blog_footer { border-top: 1px solid $footer-text; background-color: $footer-background; color: $footer-text; }
.blog_footer .inner { padding: 10px 0 }
.blog_footer a { color: $footer-link; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.blog_footer a:hover { color: $footer-link-hover }
.blog_footer li { list-style: none }

.blog_footer .footer_column { min-height: 100px }
.blog_footer .widget { padding: 20px 0; position: relative; }
.blog_footer .widget::before, .blog_footer .widget::after { content: ""; display: block; position: absolute; width: 100%; height: 1px; left: 0; }
.blog_footer .widget::before { background-color: rgba(255, 255, 255, 0.1); top: 0; }
.blog_footer .widget::after { background-color: rgba(0, 0, 0, 0.2); bottom: 0; }
.blog_footer .widget:first-child::before { display: none }
.blog_footer .widget:last-child::after { display: none }

.blog_footer .links { font-size: 0.75em; font-style: normal; font-weight: bold; line-height: 1em; margin: 0 0 0 -2px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.blog_footer .links li { display: inline-block; margin: 4px 2px; }
.blog_footer .links a { background-color: $footer-text; border: none !important; color: $footer-background; display: block; padding: 4px 10px; text-decoration: none; text-transform: capitalize; border-radius: 999em; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.blog_footer .links a:hover { opacity: 0.7 }
.blog_footer .profile_portrait, .blog_footer .tweet_avatar { background-color: rgba(0, 0, 0, 0.1); border: none !important; float: left; margin: 5px 15px 10px 0; padding: 0 4px 4px 0; }
.blog_footer .profile_portrait img, .blog_footer .tweet_avatar img { width: 100%; height: auto; }
.blog_footer .tweet_avatar { margin: 5px 10px 5px 0; width: 48px; }
.blog_footer .tweet_avatar img { display: block }
.blog_footer .tweet_list li { min-height: 60px; padding: 1em 0; position: relative; }
.blog_footer .tweet_list li::before, .blog_footer .tweet_list li::after { content: ""; display: block; position: absolute; width: 100%; height: 1px; left: 0; }
.blog_footer .tweet_list li::before { background-color: rgba(255, 255, 255, 0.1); top: 0; }
.blog_footer .tweet_list li::after { background-color: rgba(0, 0, 0, 0.2); bottom: 0; }
.blog_footer .tweet_list li.tweet_first { padding-top: 0 }
.blog_footer .tweet_list li.tweet_first::before { display: none }
.blog_footer .tweet_list li:last-child { padding-bottom: 0 }
.blog_footer .tweet_list li:last-child::after { display: none }

.blog_footer .image_feed { margin: 0; padding-top: 5px; }
.blog_footer .image_feed li { float: left; max-width: 120px; width: 33.3333%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.blog_footer .image_feed .feed_item { background: rgba(0, 0, 0, 0.1); display: block; padding: 0 4px 4px 0; -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }
.blog_footer .image_feed .feed_item img { display: block; width: 100%; height: auto; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.blog_footer .image_feed .feed_item:hover img { opacity: 0.7 }
.blog_footer .image_feed.alt_styling .feed_item { margin: 0 10px 10px 0 }

.blog_footer .profile_portrait { width: 100px }
.blog_footer .profile_info { margin-bottom: 2em; min-height: 175px; }
.blog_footer .footer_bottom { margin-top: 2em; text-align: center; }
.blog_footer .footer_bottom span { background-color: rgba(0, 0, 0, 0.1); display: inline-block; margin: 2px; padding: 4px 15px; border-radius: 999em; }
.blog_footer .footer_bottom a { color: $footer-text }
.blog_footer .footer_bottom a:hover { color: $footer-link-hover }

/* @media screen and (min-width: 1024px) */
@media screen and (min-width: 64em) {
  .blog_footer.singlecol .profile_info, .blog_footer.singlecol .blog_navigation { float: left; width: 45%; }
  .blog_footer.singlecol .profile_info { margin-right: 10% }
  .blog_footer.multicols .footer_column { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .blog_footer.cols2 .footer_column { width: 45% }
  .blog_footer.cols2 .footer_column:first-child { margin-right: 10% }
  .blog_footer.cols2 .footer_column:last-child { float: right }
  .blog_footer.cols3 .footer_column { width: 30% }
  .blog_footer.cols3 .footer_column:first-child { margin-right: 5% }
  .blog_footer.cols3 .footer_column:last-child { float: right }
  /*.blog_footer .footer_block::before, .blog_footer .footer_block::after { display: none }*/
}
@media screen and (min-width: 30em) { .blog_footer .image_feed li { width: 25% } }
@media screen and (min-width: 48em) { .blog_footer .image_feed li { width: 16.6666% } }
@media screen and (min-width: 64em) { .blog_footer .image_feed li { width: 33.3333% } }

/* Back to top button */
#back_to_top { position: fixed; right: 10px; bottom: 10px; z-index: 99999; }
#back_to_top a { background-position: -140px -780px; display: block; width: 40px; height: 40px; opacity: 0.7; text-indent: 100%; overflow: hidden; white-space: nowrap; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
#back_to_top a:hover { opacity: 1 }
.js #back_to_top { display: none }

@media screen and (min-width: 48em) {
  #back_to_top a { background-position: -80px -780px; width: 60px; height: 60px; }
}

@media screen and (min-width: 100em) {
  #back_to_top { right: 20px; bottom: 20px; }
  #back_to_top a { background-position: 0 -780px; width: 80px; height: 80px; }
}

/*
@group Pagination
--------------------------------------------------------------------- */
.pagination {
  font-family: '$pagination-font-family', sans-serif;
  font-weight: $pagination-font-weight !important;
}
.pagination { background-color: $pagination-background; color: $pagination-text; position: relative; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.pagination::after { background-color: rgba(0, 0, 0, 0.05); content: ""; display: block; position: absolute; left: 0; bottom: -4px; width: 100%; height: 4px; z-index: 4444; }
.pagination .inner { background: none !important; padding: 20px 10px 20px 10px; height: 18px; }
.pagination p { margin: 0 !important; position: relative; }
.pagination a, .pagination .current_page { font-size: 1.5em; line-height: 1em; padding: 16px 0 20px; }
.pagination a { color: $pagination-text; display: block; position: absolute; text-decoration: none; top: 0; opacity: 0.7; z-index: 6666; -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -ms-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.pagination a:hover { color: $pagination-text; opacity: 1; }
.pagination a.next::before, a.previous::before { content: ""; display: block; position: absolute; width: 60px; height: 60px; top: 0; }
.pagination a.previous { left: 0px; padding-left: 60px; }
.pagination a.previous::before { left: 0; background-position: 0 -720px; }
.pagination a.archive { position: relative; text-align: center; margin-top: -20px}
.pagination a.next { right: 0px; padding-right: 60px; }
.pagination a.next::before { right: 0; background-position: -60px -720px; }
.pagination .current_page { display: block; font-style: italic; text-align: center; opacity: 0.4; margin-top: -20px; }

/*
@group Typography
--------------------------------------------------------------------- */
.cont { font-size: 16px; line-height: 1.5em; margin: 20px 0; }
.cont a { text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.cont p, .cont ol, .cont ul, .cont dl, .cont pre, .cont h1, .cont h2, .cont h3, .cont h4, .cont h5, .cont h6, .cont blockquote, .cont img, .cont embed, .cont object { margin: 0 0 1em 0 }
.cont p:empty { display: none }
/*.cont p.id3 { font-size: 0.75em; font-style: italic; line-height: 1.5; }*/
.cont ol, .cont ul { margin-left: 1.5em }
.cont blockquote { border-top: 2px solid white; border-bottom: 2px solid white; margin: 20px 0; padding: 20px 20px 0 70px; position: relative; }
.cont blockquote::before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 60px; height: 60px; }
.is_chat .cont ol, .is_chat .cont ul { margin-left: 0 }
.no_search_results { min-height: 30em }
.no_search_results .cont { margin: 40px 0 }
.no_search_results .search_query::before { content: '\201C' }
.no_search_results .search_query::after { content: '\201D' }

/* Page Title */
.post_title { font-family: 'Open Sans', sans-serif; font-weight: 700 !important; }

/* Post Title */
.post_title { font-family: $post-header-font-family, sans-serif; font-weight: $post-header-font-weight !important; }

.is_text .post_title, .is_link .post_title, .is_chat .post_title { text-transform: $post-header-text-transform; }

/* Post Footer */
.post_footer { font-size: 0.875em; line-height: 1.4286em; }

.centered { text-align: center; }

.quote {
  padding-left:  30px;
  padding-right: 30px;
  font-style: italic;
  font-size: 16px;
}

/* Blog Footer */
.blog_footer h4 { font-family: '$footer-header-font-family', sans-serif; font-weight: $footer-header-font-weight !important; }
.blog_footer h4 { font-size: $footer-header-font-size; font-weight: normal; line-height: 1.1em; margin-bottom: 1em; text-transform: $footer-header-text-transform; }
.blog_footer ol, .blog_footer ul, .blog_footer p { font-size: $footer-font-size; line-height: 1.5em; margin-bottom: 1em; }

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 48em) {
  .cont { font-size: 18px; }
  .post_footer { font-size: 1em; font-style: italic; line-height: 1.5em; }
  .post_footer .timestamp::before, .post_footer .tag_list::before { margin: 2px 2px 0 -2px }
}

/* @media screen and (min-width: 1280px) */
@media screen and (min-width: 80em) {
  .cont { font-size: 24px; }
}
