@font-face {
  font-family: 'Swanky and Moo Moo';
  font-style: normal;
  font-weight: 400;
  src: local('Swanky and Moo Moo'), local('SwankyandMooMoo'), url(/fonts/google-webfonts/orVNZ9kDeE3lWp3U3YELu9DBM1lOB_0MWtzhbhPR_Xs.woff) format('woff');
}
