/* ==================================================================

External Styles for PixelMoxie's "Luomo" Tumblr Theme.
v1.0.1

 + More unique classes for post types. Prevents video posts
   inheriting some of the audio post styling when they have
   the 'audio' tag.

===================================================================== */


/* ==================================================================

@group Normalize

===================================================================== */

/*
Margin, padding, and border resets except for form elements
--------------------------------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; }

/*
Consistency fixes adopted from http://necolas.github.com/normalize.css/ 
--------------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video { display: block; }

html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { min-height: 100%; font-size: 100%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

b, strong { font-weight: bold; }

abbr[title] { border-bottom: 1px dotted; }

table { border-collapse: collapse; border-spacing: 0; }

a img, img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: top; }

input, textarea, button, select { margin: 0; font-size: 100%; line-height: normal; vertical-align: baseline; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

textarea { overflow: auto; }

/* ==================================================================

@group Column Grids

===================================================================== */
#blog_header, .post, .pagination, .blog_footer { width: 100%; }
#blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { margin: 0 auto; overflow: hidden; position: relative; width: 16.5em; /* 4 column grid. */ }
#blog_header .inner { overflow: visible; }
.is_permalink_page .post .inner { min-height: 30em; }

/* ==================================================================

@group Main Styles

===================================================================== */

/* Image replacemnt stuff */
#social_links a, #filter_tags_desktop a, .search_button { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/* Social Media Icons */
#social_links { text-align: center; }
#social_links li { display: inline-block; list-style: none; margin: 0 -2px; }
#social_links li a { display: block; width: 40px; height: 40px; -webkit-transition: background 0.2s ease-in-out; -moz-transition: background 0.2s ease-in-out; -o-transition: background 0.2s ease-in-out; -ms-transition: background 0.2s ease-in-out; transition: background 0.2s ease-in-out; }
#social_links li.behance a { background-position: -80px 0; }
#social_links li.behance a:hover { background-position: -80px -40px; }
#social_links li.deviantart a { background-position: -160px 0; }
#social_links li.deviantart a:hover { background-position: -160px -40px; }
#social_links li.dribbble a { background-position: -240px 0; }
#social_links li.dribbble a:hover { background-position: -240px -40px; }
#social_links li.facebook a { background-position: -280px 0; }
#social_links li.facebook a:hover { background-position: -280px -40px; }
#social_links li.flickr a { background-position: -320px 0; }
#social_links li.flickr a:hover { background-position: -320px -40px; }
#social_links li.googleplus a { background-position: -400px 0; }
#social_links li.googleplus a:hover { background-position: -400px -40px; }
#social_links li.instagram a { background-position: -440px 0; }
#social_links li.instagram a:hover { background-position: -440px -40px; }
#social_links li.lastfm a { background-position: -480px 0; }
#social_links li.lastfm a:hover { background-position: -480px -40px; }
#social_links li.linkedin a { background-position: -520px 0; }
#social_links li.linkedin a:hover { background-position: -520px -40px; }
#social_links li.myspace a { background-position: -560px 0; }
#social_links li.myspace a:hover { background-position: -560px -40px; }
#social_links li.picasa a { background-position: -640px 0; }
#social_links li.picasa a:hover { background-position: -640px -40px; }
#social_links li.pinterest a { background-position: -680px 0; }
#social_links li.pinterest a:hover { background-position: -680px -40px; }
#social_links li.soundcloud a { background-position: -840px 0; }
#social_links li.soundcloud a:hover { background-position: -840px -40px; }
#social_links li.twitter a { background-position: -960px 0; }
#social_links li.twitter a:hover { background-position: -960px -40px; }
#social_links li.vimeo a { background-position: -1000px 0; }
#social_links li.vimeo a:hover { background-position: -1000px -40px; }
#social_links li.youtube a { background-position: -1080px 0; }
#social_links li.youtube a:hover { background-position: -1080px -40px; }

/*
@group Colored backgrounds
--------------------------------------------------------------------- */

#posts .post.red { background-color: #ff0800; }
#posts .post.red .post_info_bar { background-color: #ff0800; }
#posts .post.red .post_info_bar .icon_link, #posts .post.red .post_info_bar li a { background-color: #ff0800; }
#posts .post.red .post_footer .tag_list a { color: #ff0800 !important; }
#posts .post.red .flex-direction-nav a { background-color: #ff0800; }
#posts .post.desaturate.red { background-color: #b12925; }
#posts .post.desaturate.red .post_info_bar { background-color: #b12925; }
#posts .post.desaturate.red .post_info_bar .icon_link, #posts .post.desaturate.red .post_info_bar li a { background-color: #b12925; }
#posts .post.desaturate.red .post_footer .tag_list a { color: #b12925 !important; }
#posts .post.desaturate.red .flex-direction-nav a { background-color: #b12925; }
#posts .post.darken.red { background-color: #8c0400; }
#posts .post.darken.red .post_info_bar { background-color: #8c0400; }
#posts .post.darken.red .post_info_bar .icon_link, #posts .post.darken.red .post_info_bar li a { background-color: #8c0400; }
#posts .post.darken.red .post_footer .tag_list a { color: #8c0400 !important; }
#posts .post.darken.red .flex-direction-nav a { background-color: #8c0400; }
#posts .post.desaturate.darken.red { background-color: #611714; }
#posts .post.desaturate.darken.red .post_info_bar { background-color: #611714; }
#posts .post.desaturate.darken.red .post_info_bar .icon_link, #posts .post.desaturate.darken.red .post_info_bar li a { background-color: #611714; }
#posts .post.desaturate.darken.red .post_footer .tag_list a { color: #611714 !important; }
#posts .post.desaturate.darken.red .flex-direction-nav a { background-color: #611714; }
#posts .post.lighten.red { background-color: #ff5e59; }
#posts .post.lighten.red .post_info_bar { background-color: #ff5e59; }
#posts .post.lighten.red .post_info_bar .icon_link, #posts .post.lighten.red .post_info_bar li a { background-color: #ff5e59; }
#posts .post.lighten.red .post_footer .tag_list a { color: #ff5e59 !important; }
#posts .post.lighten.red .flex-direction-nav a { background-color: #ff5e59; }
#posts .post.desaturate.lighten.red { background-color: #cc7471; }
#posts .post.desaturate.lighten.red .post_info_bar { background-color: #cc7471; }
#posts .post.desaturate.lighten.red .post_info_bar .icon_link, #posts .post.desaturate.lighten.red .post_info_bar li a { background-color: #cc7471; }
#posts .post.desaturate.lighten.red .post_footer .tag_list a { color: #cc7471 !important; }
#posts .post.desaturate.lighten.red .flex-direction-nav a { background-color: #cc7471; }

#posts .post.vermilion { background-color: #ff4000; }
#posts .post.vermilion .post_info_bar { background-color: #ff4000; }
#posts .post.vermilion .post_info_bar .icon_link, #posts .post.vermilion .post_info_bar li a { background-color: #ff4000; }
#posts .post.vermilion .post_footer .tag_list a { color: #ff4000 !important; }
#posts .post.vermilion .flex-direction-nav a { background-color: #ff4000; }
#posts .post.desaturate.vermilion { background-color: #bf5733; }
#posts .post.desaturate.vermilion .post_info_bar { background-color: #bf5733; }
#posts .post.desaturate.vermilion .post_info_bar .icon_link, #posts .post.desaturate.vermilion .post_info_bar li a { background-color: #bf5733; }
#posts .post.desaturate.vermilion .post_footer .tag_list a { color: #bf5733 !important; }
#posts .post.desaturate.vermilion .flex-direction-nav a { background-color: #bf5733; }
#posts .post.darken.vermilion { background-color: #8c2300; }
#posts .post.darken.vermilion .post_info_bar { background-color: #8c2300; }
#posts .post.darken.vermilion .post_info_bar .icon_link, #posts .post.darken.vermilion .post_info_bar li a { background-color: #8c2300; }
#posts .post.darken.vermilion .post_footer .tag_list a { color: #8c2300 !important; }
#posts .post.darken.vermilion .flex-direction-nav a { background-color: #8c2300; }
#posts .post.desaturate.darken.vermilion { background-color: #69301c; }
#posts .post.desaturate.darken.vermilion .post_info_bar { background-color: #69301c; }
#posts .post.desaturate.darken.vermilion .post_info_bar .icon_link, #posts .post.desaturate.darken.vermilion .post_info_bar li a { background-color: #69301c; }
#posts .post.desaturate.darken.vermilion .post_footer .tag_list a { color: #69301c !important; }
#posts .post.desaturate.darken.vermilion .flex-direction-nav a { background-color: #69301c; }
#posts .post.lighten.vermilion { background-color: #ff8359; }
#posts .post.lighten.vermilion .post_info_bar { background-color: #ff8359; }
#posts .post.lighten.vermilion .post_info_bar .icon_link, #posts .post.lighten.vermilion .post_info_bar li a { background-color: #ff8359; }
#posts .post.lighten.vermilion .post_footer .tag_list a { color: #ff8359 !important; }
#posts .post.lighten.vermilion .flex-direction-nav a { background-color: #ff8359; }
#posts .post.desaturate.lighten.vermilion { background-color: #d5927a; }
#posts .post.desaturate.lighten.vermilion .post_info_bar { background-color: #d5927a; }
#posts .post.desaturate.lighten.vermilion .post_info_bar .icon_link, #posts .post.desaturate.lighten.vermilion .post_info_bar li a { background-color: #d5927a; }
#posts .post.desaturate.lighten.vermilion .post_footer .tag_list a { color: #d5927a !important; }
#posts .post.desaturate.lighten.vermilion .flex-direction-nav a { background-color: #d5927a; }

#posts .post.orange { background-color: #ff8c00; }
#posts .post.orange .post_info_bar { background-color: #ff8c00; }
#posts .post.orange .post_info_bar .icon_link, #posts .post.orange .post_info_bar li a { background-color: #ff8c00; }
#posts .post.orange .post_footer .tag_list a { color: #ff8c00 !important; }
#posts .post.orange .flex-direction-nav a { background-color: #ff8c00; }
#posts .post.desaturate.orange { background-color: #d49548; }
#posts .post.desaturate.orange .post_info_bar { background-color: #d49548; }
#posts .post.desaturate.orange .post_info_bar .icon_link, #posts .post.desaturate.orange .post_info_bar li a { background-color: #d49548; }
#posts .post.desaturate.orange .post_footer .tag_list a { color: #d49548 !important; }
#posts .post.desaturate.orange .flex-direction-nav a { background-color: #d49548; }
#posts .post.darken.orange { background-color: #8c4d00; }
#posts .post.darken.orange .post_info_bar { background-color: #8c4d00; }
#posts .post.darken.orange .post_info_bar .icon_link, #posts .post.darken.orange .post_info_bar li a { background-color: #8c4d00; }
#posts .post.darken.orange .post_footer .tag_list a { color: #8c4d00 !important; }
#posts .post.darken.orange .flex-direction-nav a { background-color: #8c4d00; }
#posts .post.desaturate.darken.orange { background-color: #745228; }
#posts .post.desaturate.darken.orange .post_info_bar { background-color: #745228; }
#posts .post.desaturate.darken.orange .post_info_bar .icon_link, #posts .post.desaturate.darken.orange .post_info_bar li a { background-color: #745228; }
#posts .post.desaturate.darken.orange .post_footer .tag_list a { color: #745228 !important; }
#posts .post.desaturate.darken.orange .flex-direction-nav a { background-color: #745228; }
#posts .post.lighten.orange { background-color: #ffb459; }
#posts .post.lighten.orange .post_info_bar { background-color: #ffb459; }
#posts .post.lighten.orange .post_info_bar .icon_link, #posts .post.lighten.orange .post_info_bar li a { background-color: #ffb459; }
#posts .post.lighten.orange .post_footer .tag_list a { color: #ffb459 !important; }
#posts .post.lighten.orange .flex-direction-nav a { background-color: #ffb459; }
#posts .post.desaturate.lighten.orange { background-color: #e3ba88; }
#posts .post.desaturate.lighten.orange .post_info_bar { background-color: #e3ba88; }
#posts .post.desaturate.lighten.orange .post_info_bar .icon_link, #posts .post.desaturate.lighten.orange .post_info_bar li a { background-color: #e3ba88; }
#posts .post.desaturate.lighten.orange .post_footer .tag_list a { color: #e3ba88 !important; }
#posts .post.desaturate.lighten.orange .flex-direction-nav a { background-color: #e3ba88; }

#posts .post.gold { background-color: #ffd000; }
#posts .post.gold .post_info_bar { background-color: #ffd000; }
#posts .post.gold .post_info_bar .icon_link, #posts .post.gold .post_info_bar li a { background-color: #ffd000; }
#posts .post.gold .post_footer .tag_list a { color: #ffd000 !important; }
#posts .post.gold .flex-direction-nav a { background-color: #ffd000; }
#posts .post.desaturate.gold { background-color: #e6cc5a; }
#posts .post.desaturate.gold .post_info_bar { background-color: #e6cc5a; }
#posts .post.desaturate.gold .post_info_bar .icon_link, #posts .post.desaturate.gold .post_info_bar li a { background-color: #e6cc5a; }
#posts .post.desaturate.gold .post_footer .tag_list a { color: #e6cc5a !important; }
#posts .post.desaturate.gold .flex-direction-nav a { background-color: #e6cc5a; }
#posts .post.darken.gold { background-color: #8c7200; }
#posts .post.darken.gold .post_info_bar { background-color: #8c7200; }
#posts .post.darken.gold .post_info_bar .icon_link, #posts .post.darken.gold .post_info_bar li a { background-color: #8c7200; }
#posts .post.darken.gold .post_footer .tag_list a { color: #8c7200 !important; }
#posts .post.darken.gold .flex-direction-nav a { background-color: #8c7200; }
#posts .post.desaturate.darken.gold { background-color: #7e7031; }
#posts .post.desaturate.darken.gold .post_info_bar { background-color: #7e7031; }
#posts .post.desaturate.darken.gold .post_info_bar .icon_link, #posts .post.desaturate.darken.gold .post_info_bar li a { background-color: #7e7031; }
#posts .post.desaturate.darken.gold .post_footer .tag_list a { color: #7e7031 !important; }
#posts .post.desaturate.darken.gold .flex-direction-nav a { background-color: #7e7031; }
#posts .post.lighten.gold { background-color: #ffe059; }
#posts .post.lighten.gold .post_info_bar { background-color: #ffe059; }
#posts .post.lighten.gold .post_info_bar .icon_link, #posts .post.lighten.gold .post_info_bar li a { background-color: #ffe059; }
#posts .post.lighten.gold .post_footer .tag_list a { color: #ffe059 !important; }
#posts .post.lighten.gold .flex-direction-nav a { background-color: #ffe059; }
#posts .post.desaturate.lighten.gold { background-color: #efde94; }
#posts .post.desaturate.lighten.gold .post_info_bar { background-color: #efde94; }
#posts .post.desaturate.lighten.gold .post_info_bar .icon_link, #posts .post.desaturate.lighten.gold .post_info_bar li a { background-color: #efde94; }
#posts .post.desaturate.lighten.gold .post_footer .tag_list a { color: #efde94 !important; }
#posts .post.desaturate.lighten.gold .flex-direction-nav a { background-color: #efde94; }

#posts .post.yellow { background-color: yellow; }
#posts .post.yellow .post_info_bar { background-color: yellow; }
#posts .post.yellow .post_info_bar .icon_link, #posts .post.yellow .post_info_bar li a { background-color: yellow; }
#posts .post.yellow .post_footer .tag_list a { color: yellow !important; }
#posts .post.yellow .flex-direction-nav a { background-color: yellow; }
#posts .post.desaturate.yellow { background-color: #f2f266; }
#posts .post.desaturate.yellow .post_info_bar { background-color: #f2f266; }
#posts .post.desaturate.yellow .post_info_bar .icon_link, #posts .post.desaturate.yellow .post_info_bar li a { background-color: #f2f266; }
#posts .post.desaturate.yellow .post_footer .tag_list a { color: #f2f266 !important; }
#posts .post.desaturate.yellow .flex-direction-nav a { background-color: #f2f266; }
#posts .post.darken.yellow { background-color: #8c8c00; }
#posts .post.darken.yellow .post_info_bar { background-color: #8c8c00; }
#posts .post.darken.yellow .post_info_bar .icon_link, #posts .post.darken.yellow .post_info_bar li a { background-color: #8c8c00; }
#posts .post.darken.yellow .post_footer .tag_list a { color: #8c8c00 !important; }
#posts .post.darken.yellow .flex-direction-nav a { background-color: #8c8c00; }
#posts .post.desaturate.darken.yellow { background-color: #858538; }
#posts .post.desaturate.darken.yellow .post_info_bar { background-color: #858538; }
#posts .post.desaturate.darken.yellow .post_info_bar .icon_link, #posts .post.desaturate.darken.yellow .post_info_bar li a { background-color: #858538; }
#posts .post.desaturate.darken.yellow .post_footer .tag_list a { color: #858538 !important; }
#posts .post.desaturate.darken.yellow .flex-direction-nav a { background-color: #858538; }
#posts .post.lighten.yellow { background-color: #ffff59; }
#posts .post.lighten.yellow .post_info_bar { background-color: #ffff59; }
#posts .post.lighten.yellow .post_info_bar .icon_link, #posts .post.lighten.yellow .post_info_bar li a { background-color: #ffff59; }
#posts .post.lighten.yellow .post_footer .tag_list a { color: #ffff59 !important; }
#posts .post.lighten.yellow .flex-direction-nav a { background-color: #ffff59; }
#posts .post.desaturate.lighten.yellow { background-color: #f7f79b; }
#posts .post.desaturate.lighten.yellow .post_info_bar { background-color: #f7f79b; }
#posts .post.desaturate.lighten.yellow .post_info_bar .icon_link, #posts .post.desaturate.lighten.yellow .post_info_bar li a { background-color: #f7f79b; }
#posts .post.desaturate.lighten.yellow .post_footer .tag_list a { color: #f7f79b !important; }
#posts .post.desaturate.lighten.yellow .flex-direction-nav a { background-color: #f7f79b; }

#posts .post.lime { background-color: #9fee00; }
#posts .post.lime .post_info_bar { background-color: #9fee00; }
#posts .post.lime .post_info_bar .icon_link, #posts .post.lime .post_info_bar li a { background-color: #9fee00; }
#posts .post.lime .post_footer .tag_list a { color: #9fee00 !important; }
#posts .post.lime .flex-direction-nav a { background-color: #9fee00; }
#posts .post.desaturate.lime { background-color: #acd755; }
#posts .post.desaturate.lime .post_info_bar { background-color: #acd755; }
#posts .post.desaturate.lime .post_info_bar .icon_link, #posts .post.desaturate.lime .post_info_bar li a { background-color: #acd755; }
#posts .post.desaturate.lime .post_footer .tag_list a { color: #acd755 !important; }
#posts .post.desaturate.lime .flex-direction-nav a { background-color: #acd755; }
#posts .post.darken.lime { background-color: #578300; }
#posts .post.darken.lime .post_info_bar { background-color: #578300; }
#posts .post.darken.lime .post_info_bar .icon_link, #posts .post.darken.lime .post_info_bar li a { background-color: #578300; }
#posts .post.darken.lime .post_footer .tag_list a { color: #578300 !important; }
#posts .post.darken.lime .flex-direction-nav a { background-color: #578300; }
#posts .post.desaturate.darken.lime { background-color: #5e762f; }
#posts .post.desaturate.darken.lime .post_info_bar { background-color: #5e762f; }
#posts .post.desaturate.darken.lime .post_info_bar .icon_link, #posts .post.desaturate.darken.lime .post_info_bar li a { background-color: #5e762f; }
#posts .post.desaturate.darken.lime .post_footer .tag_list a { color: #5e762f !important; }
#posts .post.desaturate.darken.lime .flex-direction-nav a { background-color: #5e762f; }
#posts .post.lighten.lime { background-color: #c1f459; }
#posts .post.lighten.lime .post_info_bar { background-color: #c1f459; }
#posts .post.lighten.lime .post_info_bar .icon_link, #posts .post.lighten.lime .post_info_bar li a { background-color: #c1f459; }
#posts .post.lighten.lime .post_footer .tag_list a { color: #c1f459 !important; }
#posts .post.lighten.lime .flex-direction-nav a { background-color: #c1f459; }
#posts .post.desaturate.lighten.lime { background-color: #c9e590; }
#posts .post.desaturate.lighten.lime .post_info_bar { background-color: #c9e590; }
#posts .post.desaturate.lighten.lime .post_info_bar .icon_link, #posts .post.desaturate.lighten.lime .post_info_bar li a { background-color: #c9e590; }
#posts .post.desaturate.lighten.lime .post_footer .tag_list a { color: #c9e590 !important; }
#posts .post.desaturate.lighten.lime .flex-direction-nav a { background-color: #c9e590; }

#posts .post.green { background-color: #00cc00; }
#posts .post.green .post_info_bar { background-color: #00cc00; }
#posts .post.green .post_info_bar .icon_link, #posts .post.green .post_info_bar li a { background-color: #00cc00; }
#posts .post.green .post_footer .tag_list a { color: #00cc00 !important; }
#posts .post.green .flex-direction-nav a { background-color: #00cc00; }
#posts .post.desaturate.green { background-color: #36a636; }
#posts .post.desaturate.green .post_info_bar { background-color: #36a636; }
#posts .post.desaturate.green .post_info_bar .icon_link, #posts .post.desaturate.green .post_info_bar li a { background-color: #36a636; }
#posts .post.desaturate.green .post_footer .tag_list a { color: #36a636 !important; }
#posts .post.desaturate.green .flex-direction-nav a { background-color: #36a636; }
#posts .post.darken.green { background-color: #007000; }
#posts .post.darken.green .post_info_bar { background-color: #007000; }
#posts .post.darken.green .post_info_bar .icon_link, #posts .post.darken.green .post_info_bar li a { background-color: #007000; }
#posts .post.darken.green .post_footer .tag_list a { color: #007000 !important; }
#posts .post.darken.green .flex-direction-nav a { background-color: #007000; }
#posts .post.desaturate.darken.green { background-color: #1e5b1e; }
#posts .post.desaturate.darken.green .post_info_bar { background-color: #1e5b1e; }
#posts .post.desaturate.darken.green .post_info_bar .icon_link, #posts .post.desaturate.darken.green .post_info_bar li a { background-color: #1e5b1e; }
#posts .post.desaturate.darken.green .post_footer .tag_list a { color: #1e5b1e !important; }
#posts .post.desaturate.darken.green .flex-direction-nav a { background-color: #1e5b1e; }
#posts .post.lighten.green { background-color: #59de59; }
#posts .post.lighten.green .post_info_bar { background-color: #59de59; }
#posts .post.lighten.green .post_info_bar .icon_link, #posts .post.lighten.green .post_info_bar li a { background-color: #59de59; }
#posts .post.lighten.green .post_footer .tag_list a { color: #59de59 !important; }
#posts .post.lighten.green .flex-direction-nav a { background-color: #59de59; }
#posts .post.desaturate.lighten.green { background-color: #7cc57c; }
#posts .post.desaturate.lighten.green .post_info_bar { background-color: #7cc57c; }
#posts .post.desaturate.lighten.green .post_info_bar .icon_link, #posts .post.desaturate.lighten.green .post_info_bar li a { background-color: #7cc57c; }
#posts .post.desaturate.lighten.green .post_footer .tag_list a { color: #7cc57c !important; }
#posts .post.desaturate.lighten.green .flex-direction-nav a { background-color: #7cc57c; }

#posts .post.forest { background-color: #009454; }
#posts .post.forest .post_info_bar { background-color: #009454; }
#posts .post.forest .post_info_bar .icon_link, #posts .post.forest .post_info_bar li a { background-color: #009454; }
#posts .post.forest .post_footer .tag_list a { color: #009454 !important; }
#posts .post.forest .flex-direction-nav a { background-color: #009454; }
#posts .post.desaturate.forest { background-color: #2c7d5a; }
#posts .post.desaturate.forest .post_info_bar { background-color: #2c7d5a; }
#posts .post.desaturate.forest .post_info_bar .icon_link, #posts .post.desaturate.forest .post_info_bar li a { background-color: #2c7d5a; }
#posts .post.desaturate.forest .post_footer .tag_list a { color: #2c7d5a !important; }
#posts .post.desaturate.forest .flex-direction-nav a { background-color: #2c7d5a; }
#posts .post.darken.forest { background-color: #00512e; }
#posts .post.darken.forest .post_info_bar { background-color: #00512e; }
#posts .post.darken.forest .post_info_bar .icon_link, #posts .post.darken.forest .post_info_bar li a { background-color: #00512e; }
#posts .post.darken.forest .post_footer .tag_list a { color: #00512e !important; }
#posts .post.darken.forest .flex-direction-nav a { background-color: #00512e; }
#posts .post.desaturate.darken.forest { background-color: #184531; }
#posts .post.desaturate.darken.forest .post_info_bar { background-color: #184531; }
#posts .post.desaturate.darken.forest .post_info_bar .icon_link, #posts .post.desaturate.darken.forest .post_info_bar li a { background-color: #184531; }
#posts .post.desaturate.darken.forest .post_footer .tag_list a { color: #184531 !important; }
#posts .post.desaturate.darken.forest .flex-direction-nav a { background-color: #184531; }
#posts .post.lighten.forest { background-color: #59b990; }
#posts .post.lighten.forest .post_info_bar { background-color: #59b990; }
#posts .post.lighten.forest .post_info_bar .icon_link, #posts .post.lighten.forest .post_info_bar li a { background-color: #59b990; }
#posts .post.lighten.forest .post_footer .tag_list a { color: #59b990 !important; }
#posts .post.lighten.forest .flex-direction-nav a { background-color: #59b990; }
#posts .post.desaturate.lighten.forest { background-color: #76aa94; }
#posts .post.desaturate.lighten.forest .post_info_bar { background-color: #76aa94; }
#posts .post.desaturate.lighten.forest .post_info_bar .icon_link, #posts .post.desaturate.lighten.forest .post_info_bar li a { background-color: #76aa94; }
#posts .post.desaturate.lighten.forest .post_footer .tag_list a { color: #76aa94 !important; }
#posts .post.desaturate.lighten.forest .flex-direction-nav a { background-color: #76aa94; }

#posts .post.sea { background-color: #009999; }
#posts .post.sea .post_info_bar { background-color: #009999; }
#posts .post.sea .post_info_bar .icon_link, #posts .post.sea .post_info_bar li a { background-color: #009999; }
#posts .post.sea .post_footer .tag_list a { color: #009999 !important; }
#posts .post.sea .flex-direction-nav a { background-color: #009999; }
#posts .post.desaturate.sea { background-color: #308484; }
#posts .post.desaturate.sea .post_info_bar { background-color: #308484; }
#posts .post.desaturate.sea .post_info_bar .icon_link, #posts .post.desaturate.sea .post_info_bar li a { background-color: #308484; }
#posts .post.desaturate.sea .post_footer .tag_list a { color: #308484 !important; }
#posts .post.desaturate.sea .flex-direction-nav a { background-color: #308484; }
#posts .post.darken.sea { background-color: #005454; }
#posts .post.darken.sea .post_info_bar { background-color: #005454; }
#posts .post.darken.sea .post_info_bar .icon_link, #posts .post.darken.sea .post_info_bar li a { background-color: #005454; }
#posts .post.darken.sea .post_footer .tag_list a { color: #005454 !important; }
#posts .post.darken.sea .flex-direction-nav a { background-color: #005454; }
#posts .post.desaturate.darken.sea { background-color: #1a4848; }
#posts .post.desaturate.darken.sea .post_info_bar { background-color: #1a4848; }
#posts .post.desaturate.darken.sea .post_info_bar .icon_link, #posts .post.desaturate.darken.sea .post_info_bar li a { background-color: #1a4848; }
#posts .post.desaturate.darken.sea .post_footer .tag_list a { color: #1a4848 !important; }
#posts .post.desaturate.darken.sea .flex-direction-nav a { background-color: #1a4848; }
#posts .post.lighten.sea { background-color: #59bdbd; }
#posts .post.lighten.sea .post_info_bar { background-color: #59bdbd; }
#posts .post.lighten.sea .post_info_bar .icon_link, #posts .post.lighten.sea .post_info_bar li a { background-color: #59bdbd; }
#posts .post.lighten.sea .post_footer .tag_list a { color: #59bdbd !important; }
#posts .post.lighten.sea .flex-direction-nav a { background-color: #59bdbd; }
#posts .post.desaturate.lighten.sea { background-color: #78afaf; }
#posts .post.desaturate.lighten.sea .post_info_bar { background-color: #78afaf; }
#posts .post.desaturate.lighten.sea .post_info_bar .icon_link, #posts .post.desaturate.lighten.sea .post_info_bar li a { background-color: #78afaf; }
#posts .post.desaturate.lighten.sea .post_footer .tag_list a { color: #78afaf !important; }
#posts .post.desaturate.lighten.sea .flex-direction-nav a { background-color: #78afaf; }

#posts .post.sky { background-color: #00ace6; }
#posts .post.sky .post_info_bar { background-color: #00ace6; }
#posts .post.sky .post_info_bar .icon_link, #posts .post.sky .post_info_bar li a { background-color: #00ace6; }
#posts .post.sky .post_footer .tag_list a { color: #00ace6 !important; }
#posts .post.sky .flex-direction-nav a { background-color: #00ace6; }
#posts .post.desaturate.sky { background-color: #3998b8; }
#posts .post.desaturate.sky .post_info_bar { background-color: #3998b8; }
#posts .post.desaturate.sky .post_info_bar .icon_link, #posts .post.desaturate.sky .post_info_bar li a { background-color: #3998b8; }
#posts .post.desaturate.sky .post_footer .tag_list a { color: #3998b8 !important; }
#posts .post.desaturate.sky .flex-direction-nav a { background-color: #3998b8; }
#posts .post.darken.sky { background-color: #005e7e; }
#posts .post.darken.sky .post_info_bar { background-color: #005e7e; }
#posts .post.darken.sky .post_info_bar .icon_link, #posts .post.darken.sky .post_info_bar li a { background-color: #005e7e; }
#posts .post.darken.sky .post_footer .tag_list a { color: #005e7e !important; }
#posts .post.darken.sky .flex-direction-nav a { background-color: #005e7e; }
#posts .post.desaturate.darken.sky { background-color: #1f5365; }
#posts .post.desaturate.darken.sky .post_info_bar { background-color: #1f5365; }
#posts .post.desaturate.darken.sky .post_info_bar .icon_link, #posts .post.desaturate.darken.sky .post_info_bar li a { background-color: #1f5365; }
#posts .post.desaturate.darken.sky .post_footer .tag_list a { color: #1f5365 !important; }
#posts .post.desaturate.darken.sky .flex-direction-nav a { background-color: #1f5365; }
#posts .post.lighten.sky { background-color: #59c9ef; }
#posts .post.lighten.sky .post_info_bar { background-color: #59c9ef; }
#posts .post.lighten.sky .post_info_bar .icon_link, #posts .post.lighten.sky .post_info_bar li a { background-color: #59c9ef; }
#posts .post.lighten.sky .post_footer .tag_list a { color: #59c9ef !important; }
#posts .post.lighten.sky .flex-direction-nav a { background-color: #59c9ef; }
#posts .post.desaturate.lighten.sky { background-color: #7ebcd1; }
#posts .post.desaturate.lighten.sky .post_info_bar { background-color: #7ebcd1; }
#posts .post.desaturate.lighten.sky .post_info_bar .icon_link, #posts .post.desaturate.lighten.sky .post_info_bar li a { background-color: #7ebcd1; }
#posts .post.desaturate.lighten.sky .post_footer .tag_list a { color: #7ebcd1 !important; }
#posts .post.desaturate.lighten.sky .flex-direction-nav a { background-color: #7ebcd1; }

#posts .post.blue { background-color: #1240ab; }
#posts .post.blue .post_info_bar { background-color: #1240ab; }
#posts .post.blue .post_info_bar .icon_link, #posts .post.blue .post_info_bar li a { background-color: #1240ab; }
#posts .post.blue .post_footer .tag_list a { color: #1240ab !important; }
#posts .post.blue .flex-direction-nav a { background-color: #1240ab; }
#posts .post.desaturate.blue { background-color: #263f7a; }
#posts .post.desaturate.blue .post_info_bar { background-color: #263f7a; }
#posts .post.desaturate.blue .post_info_bar .icon_link, #posts .post.desaturate.blue .post_info_bar li a { background-color: #263f7a; }
#posts .post.desaturate.blue .post_footer .tag_list a { color: #263f7a !important; }
#posts .post.desaturate.blue .flex-direction-nav a { background-color: #263f7a; }
#posts .post.darken.blue { background-color: #09235e; }
#posts .post.darken.blue .post_info_bar { background-color: #09235e; }
#posts .post.darken.blue .post_info_bar .icon_link, #posts .post.darken.blue .post_info_bar li a { background-color: #09235e; }
#posts .post.darken.blue .post_footer .tag_list a { color: #09235e !important; }
#posts .post.darken.blue .flex-direction-nav a { background-color: #09235e; }
#posts .post.desaturate.darken.blue { background-color: #152343; }
#posts .post.desaturate.darken.blue .post_info_bar { background-color: #152343; }
#posts .post.desaturate.darken.blue .post_info_bar .icon_link, #posts .post.desaturate.darken.blue .post_info_bar li a { background-color: #152343; }
#posts .post.desaturate.darken.blue .post_footer .tag_list a { color: #152343 !important; }
#posts .post.desaturate.darken.blue .flex-direction-nav a { background-color: #152343; }
#posts .post.lighten.blue { background-color: #6482c8; }
#posts .post.lighten.blue .post_info_bar { background-color: #6482c8; }
#posts .post.lighten.blue .post_info_bar .icon_link, #posts .post.lighten.blue .post_info_bar li a { background-color: #6482c8; }
#posts .post.lighten.blue .post_footer .tag_list a { color: #6482c8 !important; }
#posts .post.lighten.blue .flex-direction-nav a { background-color: #6482c8; }
#posts .post.desaturate.lighten.blue { background-color: #7282a8; }
#posts .post.desaturate.lighten.blue .post_info_bar { background-color: #7282a8; }
#posts .post.desaturate.lighten.blue .post_info_bar .icon_link, #posts .post.desaturate.lighten.blue .post_info_bar li a { background-color: #7282a8; }
#posts .post.desaturate.lighten.blue .post_footer .tag_list a { color: #7282a8 !important; }
#posts .post.desaturate.lighten.blue .flex-direction-nav a { background-color: #7282a8; }

#posts .post.indigo { background-color: #3914af; }
#posts .post.indigo .post_info_bar { background-color: #3914af; }
#posts .post.indigo .post_info_bar .icon_link, #posts .post.indigo .post_info_bar li a { background-color: #3914af; }
#posts .post.indigo .post_footer .tag_list a { color: #3914af !important; }
#posts .post.indigo .flex-direction-nav a { background-color: #3914af; }
#posts .post.desaturate.indigo { background-color: #352176; }
#posts .post.desaturate.indigo .post_info_bar { background-color: #352176; }
#posts .post.desaturate.indigo .post_info_bar .icon_link, #posts .post.desaturate.indigo .post_info_bar li a { background-color: #352176; }
#posts .post.desaturate.indigo .post_footer .tag_list a { color: #352176 !important; }
#posts .post.desaturate.indigo .flex-direction-nav a { background-color: #352176; }
#posts .post.darken.indigo { background-color: #1f0b60; }
#posts .post.darken.indigo .post_info_bar { background-color: #1f0b60; }
#posts .post.darken.indigo .post_info_bar .icon_link, #posts .post.darken.indigo .post_info_bar li a { background-color: #1f0b60; }
#posts .post.darken.indigo .post_footer .tag_list a { color: #1f0b60 !important; }
#posts .post.darken.indigo .flex-direction-nav a { background-color: #1f0b60; }
#posts .post.desaturate.darken.indigo { background-color: #1d1241; }
#posts .post.desaturate.darken.indigo .post_info_bar { background-color: #1d1241; }
#posts .post.desaturate.darken.indigo .post_info_bar .icon_link, #posts .post.desaturate.darken.indigo .post_info_bar li a { background-color: #1d1241; }
#posts .post.desaturate.darken.indigo .post_footer .tag_list a { color: #1d1241 !important; }
#posts .post.desaturate.darken.indigo .flex-direction-nav a { background-color: #1d1241; }
#posts .post.lighten.indigo { background-color: #7e66cb; }
#posts .post.lighten.indigo .post_info_bar { background-color: #7e66cb; }
#posts .post.lighten.indigo .post_info_bar .icon_link, #posts .post.lighten.indigo .post_info_bar li a { background-color: #7e66cb; }
#posts .post.lighten.indigo .post_footer .tag_list a { color: #7e66cb !important; }
#posts .post.lighten.indigo .flex-direction-nav a { background-color: #7e66cb; }
#posts .post.desaturate.lighten.indigo { background-color: #7c6ea6; }
#posts .post.desaturate.lighten.indigo .post_info_bar { background-color: #7c6ea6; }
#posts .post.desaturate.lighten.indigo .post_info_bar .icon_link, #posts .post.desaturate.lighten.indigo .post_info_bar li a { background-color: #7c6ea6; }
#posts .post.desaturate.lighten.indigo .post_footer .tag_list a { color: #7c6ea6 !important; }
#posts .post.desaturate.lighten.indigo .flex-direction-nav a { background-color: #7c6ea6; }

#posts .post.purple { background-color: #7109aa; }
#posts .post.purple .post_info_bar { background-color: #7109aa; }
#posts .post.purple .post_info_bar .icon_link, #posts .post.purple .post_info_bar li a { background-color: #7109aa; }
#posts .post.purple .post_footer .tag_list a { color: #7109aa !important; }
#posts .post.purple .flex-direction-nav a { background-color: #7109aa; }
#posts .post.desaturate.purple { background-color: #581f77; }
#posts .post.desaturate.purple .post_info_bar { background-color: #581f77; }
#posts .post.desaturate.purple .post_info_bar .icon_link, #posts .post.desaturate.purple .post_info_bar li a { background-color: #581f77; }
#posts .post.desaturate.purple .post_footer .tag_list a { color: #581f77 !important; }
#posts .post.desaturate.purple .flex-direction-nav a { background-color: #581f77; }
#posts .post.darken.purple { background-color: #3e055d; }
#posts .post.darken.purple .post_info_bar { background-color: #3e055d; }
#posts .post.darken.purple .post_info_bar .icon_link, #posts .post.darken.purple .post_info_bar li a { background-color: #3e055d; }
#posts .post.darken.purple .post_footer .tag_list a { color: #3e055d !important; }
#posts .post.darken.purple .flex-direction-nav a { background-color: #3e055d; }
#posts .post.desaturate.darken.purple { background-color: #301141; }
#posts .post.desaturate.darken.purple .post_info_bar { background-color: #301141; }
#posts .post.desaturate.darken.purple .post_info_bar .icon_link, #posts .post.desaturate.darken.purple .post_info_bar li a { background-color: #301141; }
#posts .post.desaturate.darken.purple .post_footer .tag_list a { color: #301141 !important; }
#posts .post.desaturate.darken.purple .flex-direction-nav a { background-color: #301141; }
#posts .post.lighten.purple { background-color: #a35fc8; }
#posts .post.lighten.purple .post_info_bar { background-color: #a35fc8; }
#posts .post.lighten.purple .post_info_bar .icon_link, #posts .post.lighten.purple .post_info_bar li a { background-color: #a35fc8; }
#posts .post.lighten.purple .post_footer .tag_list a { color: #a35fc8 !important; }
#posts .post.lighten.purple .flex-direction-nav a { background-color: #a35fc8; }
#posts .post.desaturate.lighten.purple { background-color: #926da6; }
#posts .post.desaturate.lighten.purple .post_info_bar { background-color: #926da6; }
#posts .post.desaturate.lighten.purple .post_info_bar .icon_link, #posts .post.desaturate.lighten.purple .post_info_bar li a { background-color: #926da6; }
#posts .post.desaturate.lighten.purple .post_footer .tag_list a { color: #926da6 !important; }
#posts .post.desaturate.lighten.purple .flex-direction-nav a { background-color: #926da6; }

#posts .post.magenta { background-color: #cd00cd; }
#posts .post.magenta .post_info_bar { background-color: #cd00cd; }
#posts .post.magenta .post_info_bar .icon_link, #posts .post.magenta .post_info_bar li a { background-color: #cd00cd; }
#posts .post.magenta .post_footer .tag_list a { color: #cd00cd !important; }
#posts .post.magenta .flex-direction-nav a { background-color: #cd00cd; }
#posts .post.desaturate.magenta { background-color: #962696; }
#posts .post.desaturate.magenta .post_info_bar { background-color: #962696; }
#posts .post.desaturate.magenta .post_info_bar .icon_link, #posts .post.desaturate.magenta .post_info_bar li a { background-color: #962696; }
#posts .post.desaturate.magenta .post_footer .tag_list a { color: #962696 !important; }
#posts .post.desaturate.magenta .flex-direction-nav a { background-color: #962696; }
#posts .post.darken.magenta { background-color: #710071; }
#posts .post.darken.magenta .post_info_bar { background-color: #710071; }
#posts .post.darken.magenta .post_info_bar .icon_link, #posts .post.darken.magenta .post_info_bar li a { background-color: #710071; }
#posts .post.darken.magenta .post_footer .tag_list a { color: #710071 !important; }
#posts .post.darken.magenta .flex-direction-nav a { background-color: #710071; }
#posts .post.desaturate.darken.magenta { background-color: #521552; }
#posts .post.desaturate.darken.magenta .post_info_bar { background-color: #521552; }
#posts .post.desaturate.darken.magenta .post_info_bar .icon_link, #posts .post.desaturate.darken.magenta .post_info_bar li a { background-color: #521552; }
#posts .post.desaturate.darken.magenta .post_footer .tag_list a { color: #521552 !important; }
#posts .post.desaturate.darken.magenta .flex-direction-nav a { background-color: #521552; }
#posts .post.lighten.magenta { background-color: #de59de; }
#posts .post.lighten.magenta .post_info_bar { background-color: #de59de; }
#posts .post.lighten.magenta .post_info_bar .icon_link, #posts .post.lighten.magenta .post_info_bar li a { background-color: #de59de; }
#posts .post.lighten.magenta .post_footer .tag_list a { color: #de59de !important; }
#posts .post.lighten.magenta .flex-direction-nav a { background-color: #de59de; }
#posts .post.desaturate.lighten.magenta { background-color: #bb72bb; }
#posts .post.desaturate.lighten.magenta .post_info_bar { background-color: #bb72bb; }
#posts .post.desaturate.lighten.magenta .post_info_bar .icon_link, #posts .post.desaturate.lighten.magenta .post_info_bar li a { background-color: #bb72bb; }
#posts .post.desaturate.lighten.magenta .post_footer .tag_list a { color: #bb72bb !important; }
#posts .post.desaturate.lighten.magenta .flex-direction-nav a { background-color: #bb72bb; }

#posts .post.lipstick { background-color: #cc0074; }
#posts .post.lipstick .post_info_bar { background-color: #cc0074; }
#posts .post.lipstick .post_info_bar .icon_link, #posts .post.lipstick .post_info_bar li a { background-color: #cc0074; }
#posts .post.lipstick .post_footer .tag_list a { color: #cc0074 !important; }
#posts .post.lipstick .flex-direction-nav a { background-color: #cc0074; }
#posts .post.desaturate.lipstick { background-color: #922161; }
#posts .post.desaturate.lipstick .post_info_bar { background-color: #922161; }
#posts .post.desaturate.lipstick .post_info_bar .icon_link, #posts .post.desaturate.lipstick .post_info_bar li a { background-color: #922161; }
#posts .post.desaturate.lipstick .post_footer .tag_list a { color: #922161 !important; }
#posts .post.desaturate.lipstick .flex-direction-nav a { background-color: #922161; }
#posts .post.darken.lipstick { background-color: #710040; }
#posts .post.darken.lipstick .post_info_bar { background-color: #710040; }
#posts .post.darken.lipstick .post_info_bar .icon_link, #posts .post.darken.lipstick .post_info_bar li a { background-color: #710040; }
#posts .post.darken.lipstick .post_footer .tag_list a { color: #710040 !important; }
#posts .post.darken.lipstick .flex-direction-nav a { background-color: #710040; }
#posts .post.desaturate.darken.lipstick { background-color: #501235; }
#posts .post.desaturate.darken.lipstick .post_info_bar { background-color: #501235; }
#posts .post.desaturate.darken.lipstick .post_info_bar .icon_link, #posts .post.desaturate.darken.lipstick .post_info_bar li a { background-color: #501235; }
#posts .post.desaturate.darken.lipstick .post_footer .tag_list a { color: #501235 !important; }
#posts .post.desaturate.darken.lipstick .flex-direction-nav a { background-color: #501235; }
#posts .post.lighten.lipstick { background-color: #de59a5; }
#posts .post.lighten.lipstick .post_info_bar { background-color: #de59a5; }
#posts .post.lighten.lipstick .post_info_bar .icon_link, #posts .post.lighten.lipstick .post_info_bar li a { background-color: #de59a5; }
#posts .post.lighten.lipstick .post_footer .tag_list a { color: #de59a5 !important; }
#posts .post.lighten.lipstick .flex-direction-nav a { background-color: #de59a5; }
#posts .post.desaturate.lighten.lipstick { background-color: #b86e98; }
#posts .post.desaturate.lighten.lipstick .post_info_bar { background-color: #b86e98; }
#posts .post.desaturate.lighten.lipstick .post_info_bar .icon_link, #posts .post.desaturate.lighten.lipstick .post_info_bar li a { background-color: #b86e98; }
#posts .post.desaturate.lighten.lipstick .post_footer .tag_list a { color: #b86e98 !important; }
#posts .post.desaturate.lighten.lipstick .flex-direction-nav a { background-color: #b86e98; }

#posts .post.torch { background-color: #ff0033; }
#posts .post.torch .post_info_bar { background-color: #ff0033; }
#posts .post.torch .post_info_bar .icon_link, #posts .post.torch .post_info_bar li a { background-color: #ff0033; }
#posts .post.torch .post_footer .tag_list a { color: #ff0033 !important; }
#posts .post.torch .flex-direction-nav a { background-color: #ff0033; }
#posts .post.desaturate.torch { background-color: #b12541; }
#posts .post.desaturate.torch .post_info_bar { background-color: #b12541; }
#posts .post.desaturate.torch .post_info_bar .icon_link, #posts .post.desaturate.torch .post_info_bar li a { background-color: #b12541; }
#posts .post.desaturate.torch .post_footer .tag_list a { color: #b12541 !important; }
#posts .post.desaturate.torch .flex-direction-nav a { background-color: #b12541; }
#posts .post.darken.torch { background-color: #8c001c; }
#posts .post.darken.torch .post_info_bar { background-color: #8c001c; }
#posts .post.darken.torch .post_info_bar .icon_link, #posts .post.darken.torch .post_info_bar li a { background-color: #8c001c; }
#posts .post.darken.torch .post_footer .tag_list a { color: #8c001c !important; }
#posts .post.darken.torch .flex-direction-nav a { background-color: #8c001c; }
#posts .post.desaturate.darken.torch { background-color: #611424; }
#posts .post.desaturate.darken.torch .post_info_bar { background-color: #611424; }
#posts .post.desaturate.darken.torch .post_info_bar .icon_link, #posts .post.desaturate.darken.torch .post_info_bar li a { background-color: #611424; }
#posts .post.desaturate.darken.torch .post_footer .tag_list a { color: #611424 !important; }
#posts .post.desaturate.darken.torch .flex-direction-nav a { background-color: #611424; }
#posts .post.lighten.torch { background-color: #ff597a; }
#posts .post.lighten.torch .post_info_bar { background-color: #ff597a; }
#posts .post.lighten.torch .post_info_bar .icon_link, #posts .post.lighten.torch .post_info_bar li a { background-color: #ff597a; }
#posts .post.lighten.torch .post_footer .tag_list a { color: #ff597a !important; }
#posts .post.lighten.torch .flex-direction-nav a { background-color: #ff597a; }
#posts .post.desaturate.lighten.torch { background-color: #cc7183; }
#posts .post.desaturate.lighten.torch .post_info_bar { background-color: #cc7183; }
#posts .post.desaturate.lighten.torch .post_info_bar .icon_link, #posts .post.desaturate.lighten.torch .post_info_bar li a { background-color: #cc7183; }
#posts .post.desaturate.lighten.torch .post_footer .tag_list a { color: #cc7183 !important; }
#posts .post.desaturate.lighten.torch .flex-direction-nav a { background-color: #cc7183; }

/* ==================================================================

@group Miscelanea

===================================================================== */
::selection { background: rgba(51, 51, 51, 0.9); color: white; text-shadow: none; }

::-moz-selection { background: rgba(51, 51, 51, 0.9); color: white; text-shadow: none; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

body { -webkit-tap-highlight-color: rgba(51, 51, 51, 0.62); }

/* Text alignment classes */
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }

/* Hide or show content on mobile and desktop devices */
.hide_from_mobile { display: none !important; }

@media screen and (min-width: 30em) { .sharethis span.hide_from_mobile { display: inline !important; } }
@media screen and (min-width: 48em) { .post_info_bar .hide_from_mobile { display: block !important; }
  .post_info_bar .reblogthis .hide_from_mobile { display: none !important; }
  .post_info_bar span.hide_from_mobile { display: inline !important; }
  .post_info_bar .hide_from_desktop { display: none !important; }
  .timestamp.hide_from_desktop { display: none !important; } }
@media screen and (min-width: 64em) { .post_info_bar .reblogthis .hide_from_mobile { display: inline !important; } }
.hide { display: none; }

/* Hidable text */
.hide_text, .icon_link, .flex-direction-nav a, .flex-control-nav a { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/* Clearfix: contain floats */
.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* For IE 6/7 only */
.clearfix { *zoom: 1; }
