<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lucas The Nomad">
    <meta name="author" content="Lucas Parry">

    <title>Lucas The Nomad | {% if page.title %} {{ page.title }} {% else %} {{site.subtitle}} {% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/style.css" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lucas The Nomad</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://www.facebook.com/lucasparry">Facebook</a></li>
            <li><a href="https://www.twitter.com/lucas_parry">Twitter</a></li>
            <li><a href="https://www.couchsurfing.org/people/lucasthenomad/">Couchsurfing</a></li>
            <li><a href="https://www.flickr.com/photos/83213379@N00/">Flickr</a></li>
            <li><a href="http://instagram.com/lparry">Instagram</a></li>
          </ul>
        </div>
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-lg-8">

          {{ content }}

        </div>

        <div class="col-lg-4">
          <!-- <div class="well"> -->
          <!--   <h4>Blog Search</h4> -->
          <!--   <div class="input-group"> -->
          <!--     <input type="text" class="form-control"> -->
          <!--     <span class="input-group-btn"> -->
          <!--       <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button> -->
          <!--     </span> -->
          <!--   </div> -->
          <!-- </div> -->
          <div class="well">
<h4><span class="glyphicon glyphicon-tags"></span>Tags</h4>
             <div class="row">
                  <ul class="tags">
                    {% for tag in site.tags %}
                    <li><a class="tag-invert" href="/tag/{{ tag | first }}">{{ tag | first }}</a></li>
                    {% endfor %}
                  </ul>
              </div>
          </div>
          <div class="well">
            <img src="/images/beardy.jpg" class="avatar" width="125px">
            <h4>About Lucas</h4>
            <p class="blurb">The story of an irresponsible thirty year old man-child
              who decided he didn't want to wait until he was old to have
              a turn at enjoying retirement.</p>

            <p class="blurb">Instead of following the common life path of getting
              married, buying a house, and having two kids, he's chosen
              to seek out epic adventures, see the world, and hopefully
              have great times that he'll reminisce about when he's old
              and senile.</p>
          </div>

          <div class="well">
            <h4>Navigate</h4>
            <ul class="list-unstyled">
              <li><a href="/archive" class="archive">Archive</a></li>
              <li><a href="/atom.xml" class="rss">RSS</a></li>
            </ul>
          </div>


        </div>
      </div>
      
      <hr>
      
      <!-- <footer> -->
      <!--   <div class="row"> -->
      <!--     <div class="col-lg-12"> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </footer> -->

    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>

  </body>
</html>
