<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.title }}">
    <meta name="author" content="Lucas Parry">

    <meta property="og:site_name" content="www.lucasthenomad.com" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
    {% if page.description %}<meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 300 }}" />{% endif %}
    <meta property="og:determiner" content="a" />
    <meta property="og:type" content="blog" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>


    <link href="{{ "" | fontawesome_url_for_environment }}" rel="stylesheet">
    <link href="{{ "" | lato_url_for_environment }}" rel="stylesheet">
    <link href="{{ "" | swanky_and_moo_moo_url_for_environment }}" rel="stylesheet">
    <link href="/css/css.css" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD///8AMm83ABkaHgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIiIiIAAAIgAAAAAiAAAgAAAAAAIAAiAAIAIAAiAiIgAgAgAiIiESIiIiIiESIRERAAARERIgARAAAAEQAiAAEAAAAQACIAAQAAABAAIiABEAABEAIgIBERERERAgAiEAEREAEiAAIgABEAAiAAACIgEQIiAAAAACIiIgAADgBwAAwAMAAMADAACAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIABAACAAQAAwAMAAOAHAAD4HwAA" rel="icon" type="image/x-icon" />

  </head>

  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-globe fa-lg fa-fw"></i> {{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://www.facebook.com/lucasparry"><i class="fa fa-facebook-square fa-lg fa-fw"></i> Facebook</a></li>
            <li><a href="https://www.twitter.com/lucas_parry"><i class="fa fa-twitter-square fa-lg fa-fw"></i> Twitter</a></li>
            <li><a href="https://www.flickr.com/photos/lucasthenomad/"><i class="fa fa-flickr fa-lg fa-fw"></i> Flickr</a></li>
            <li><a href="https://instagram.com/lparry"><i class="fa fa-instagram fa-lg fa-fw"></i> Instagram</a></li>
            <li><a href="https://www.couchsurfing.org/people/lucasthenomad/"><i class="fa fa-suitcase fa-lg fa-fw"></i> Couchsurfing</a></li>
          </ul>
        </div>
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-lg-8">

          {{ content }}

        </div>

        <div class="col-lg-4">
          <div class="well">
            <img src="/images/avatar.jpg" class="avatar" width="125px">
            <h4><i class="fa fa-info-circle fa-lg fa-fw"></i> About Lucas</h4>
            <p class="blurb">An account of Lucas' epic travels, exciting
            adventures, challenging misfortunes and lucky breaks. They rarely
            happen with to any real plan, but generally these kinds of things
            just take care of themselves and I just enjoy the ride.</p>

            <p class="blurb">I try to post something to this blog at least once a month (I'm trying to get better), and it tends to run several months behind real-time.</p>
          </div>

          <div class="well">
            {% assign tags = site.sorted_tags %}
            {% include _tags.html %}
          </div>

          <div class="well">
            <h4><i class="fa fa-search fa-lg fa-fw"></i> Navigate</h4>
            <ul>
              <li><a href="/archive" class="archive">Archive</a></li>
              <li><a href="/atom.xml" class="rss">RSS</a></li>
            </ul>
          </div>


        </div>
      </div>
      
      <hr>
      
      <!-- <footer> -->
      <!--   <div class="row"> -->
      <!--     <div class="col-lg-12"> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </footer> -->

    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="{{"" | jquery_url_for_environment }}"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8216018-4', 'lucasthenomad.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>
