/* ==================================================================

External Styles for PixelMoxie's "Luomo" Tumblr Theme.
v1.0.1

 + More unique classes for post types. Prevents video posts
   inheriting some of the audio post styling when they have
   the 'audio' tag.

===================================================================== */


/* ==================================================================

@group Normalize

===================================================================== */

/*
Margin, padding, and border resets except for form elements
--------------------------------------------------------------------- */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; }

/*
Consistency fixes adopted from http://necolas.github.com/normalize.css/ 
--------------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video { display: block; }

html { height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { min-height: 100%; font-size: 100%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

b, strong { font-weight: bold; }

abbr[title] { border-bottom: 1px dotted; }

table { border-collapse: collapse; border-spacing: 0; }

a img, img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: top; }

input, textarea, button, select { margin: 0; font-size: 100%; line-height: normal; vertical-align: baseline; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

textarea { overflow: auto; }

/* ==================================================================

@group Column Grids

===================================================================== */
#blog_header, .post, .pagination, .blog_footer { width: 100%; }
#blog_header .inner, .post .inner, .pagination .inner, .blog_footer .inner { margin: 0 auto; overflow: hidden; position: relative; width: 16.5em; /* 4 column grid. */ }
#blog_header .inner { overflow: visible; }
.is_permalink_page .post .inner { min-height: 30em; }

/* ==================================================================

@group Main Styles

===================================================================== */

/* Image replacemnt stuff */
#social_links a, #filter_tags_desktop a { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/* Social Media Icons */
#social_links { text-align: center; }
#social_links li { display: inline-block; list-style: none; margin: 0 -2px; }
#social_links li a { display: block; width: 40px; height: 40px; -webkit-transition: background 0.2s ease-in-out; -moz-transition: background 0.2s ease-in-out; -o-transition: background 0.2s ease-in-out; -ms-transition: background 0.2s ease-in-out; transition: background 0.2s ease-in-out; }
#social_links li.behance a { background-position: -80px 0; }
#social_links li.behance a:hover { background-position: -80px -40px; }
#social_links li.deviantart a { background-position: -160px 0; }
#social_links li.deviantart a:hover { background-position: -160px -40px; }
#social_links li.dribbble a { background-position: -240px 0; }
#social_links li.dribbble a:hover { background-position: -240px -40px; }
#social_links li.facebook a { background-position: -280px 0; }
#social_links li.facebook a:hover { background-position: -280px -40px; }
#social_links li.flickr a { background-position: -320px 0; }
#social_links li.flickr a:hover { background-position: -320px -40px; }
#social_links li.googleplus a { background-position: -400px 0; }
#social_links li.googleplus a:hover { background-position: -400px -40px; }
#social_links li.instagram a { background-position: -440px 0; }
#social_links li.instagram a:hover { background-position: -440px -40px; }
#social_links li.lastfm a { background-position: -480px 0; }
#social_links li.lastfm a:hover { background-position: -480px -40px; }
#social_links li.linkedin a { background-position: -520px 0; }
#social_links li.linkedin a:hover { background-position: -520px -40px; }
#social_links li.myspace a { background-position: -560px 0; }
#social_links li.myspace a:hover { background-position: -560px -40px; }
#social_links li.picasa a { background-position: -640px 0; }
#social_links li.picasa a:hover { background-position: -640px -40px; }
#social_links li.pinterest a { background-position: -680px 0; }
#social_links li.pinterest a:hover { background-position: -680px -40px; }
#social_links li.soundcloud a { background-position: -840px 0; }
#social_links li.soundcloud a:hover { background-position: -840px -40px; }
#social_links li.twitter a { background-position: -960px 0; }
#social_links li.twitter a:hover { background-position: -960px -40px; }
#social_links li.vimeo a { background-position: -1000px 0; }
#social_links li.vimeo a:hover { background-position: -1000px -40px; }
#social_links li.youtube a { background-position: -1080px 0; }
#social_links li.youtube a:hover { background-position: -1080px -40px; }

/* ==================================================================

@group Miscelanea

===================================================================== */
::selection { background: rgba(51, 51, 51, 0.9); color: white; text-shadow: none; }

::-moz-selection { background: rgba(51, 51, 51, 0.9); color: white; text-shadow: none; }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

body { -webkit-tap-highlight-color: rgba(51, 51, 51, 0.62); }

/* Text alignment classes */
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }

/* Hide or show content on mobile and desktop devices */

.hide { display: none; }

/* Hidable text */
.hide_text, .icon_link { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/* Clearfix: contain floats */
.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

/* For IE 6/7 only */
.clearfix { *zoom: 1; }
