/* ==================================================================

Fallback styles for old versions of Explorer

===================================================================== */

/* Fixes for IE7-8 */
#blog_header .inner,
.post .inner,
.blog_footer .inner { width: 52.5em; }

#social_links li { *display: inline; *margin: 0; }
#blog_header_filter { border-top: 1px solid #cccccc; }
#filter_tags_mobile { display: none; }
#filter_tags_desktop { display: block; }
#filter_tags_desktop li { *display: inline; *margin: 0; }
.search_button { background: transparent; border: none; box-shadow: none; width: 60px; height: 60px; top: 1px; }
.search_button span.icon { background-position: 0 -380px; width: 60px; height: 60px; opacity: 0.5; top: 0; left: 0; } }
.reveal-modal-bg { background-color: whitesmoke; }
#modal_search_box { margin: -40px 0 0 -240px; padding: 20px 40px; top: 40%; width: 400px; }

.post { background: #b3b3b3 !important; color: #333 !important; display: block !important; }
.post .post_info_bar { background-color: #b3b3b3 !important; color: #333 !important; }
.post .post_info_bar .icon_link { background-color: #b3b3b3 !important; color: #333 !important; }
.post .post_info_bar li a { background-color: #b3b3b3 !important; color: #333 !important; }
.post .post_info_bar { border-color: #333; }

.post .icon,
.post .icon_link a,
.flex-direction-nav a { background-image: url(http://static.tumblr.com/6nxvfxq/csnmel1nc/luomo_icons.png); }

#posts .is_text   .icon_link a { background-position: 0 -240px !important; }
#posts .is_photo  .icon_link a { background-position: -40px -240px !important; }
#posts .is_quote  .icon_link a { background-position: -80px -240px !important; }
#posts .is_link   .icon_link a { background-position: -120px -240px !important; }
#posts .is_chat   .icon_link a { background-position: -160px -240px !important; }
#posts .is_audio  .icon_link a { background-position: -200px -240px !important; }
#posts .is_video  .icon_link a { background-position: -240px -240px !important; }
#posts .is_answer .icon_link a { background-position: -280px -240px !important; }

.post .timestamp         .icon { background-position: 0 -310px !important; }
.post .notecount         .icon { background-position: -30px -310px !important; }
.post .dsq-comment-count .icon { background-position: -60px -310px !important; }
.post .sharethis         .icon { background-position: -90px -310px !important; }
.post .reblogthis        .icon { background-position: -120px -310px !important; }

li.hide_from_mobile,
div.hide_from_mobile { display: block !important; }
span.hide_from_mobile { display: inline !important; }
.hide_from_desktop { display: none !important; }

.post { border-color: #333 !important; }
.post .cont { color: #333 !important; }
.post .cont blockquote { padding: 20px; border-color: #333 !important; }

#posts .post .post_footer .tag_list li { display: inline; padding: 4px 0; *padding: 0; }
#posts .post .post_footer .tag_list li a { background-color: #333 !important; }
#blog_wrapper #posts .post .post_footer .tag_list li a { color: white !important; display: inline; *display: block; }

.blog_footer .current_page { display: block !important; }
.blog_footer .hide_from_desktop { display: none !important; }
.blog_footer .current_page,
.blog_footer .previous,
.blog_footer .next { padding: 20px 10px !important; }

.blog_footer .links li { display: inline !important; }
.blog_footer .links a { display: inline; *display: block; }

.flex-direction-nav a { background-color: #b3b3b3; border: none; }
.flex-direction-nav .flex-prev { left: 0; background-position: 0 -600px !important; }
.flex-direction-nav .flex-next { right: 0; background-position: -40px -600px !important; }
