
$tag-color:            white;
$tag-background-color: #1c1e22;
$photo-padding: 6px;
$normal-font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
$light-font-weight:  100;
$normal-font-weight: 300;
$bold-font-weight:   700;

body {
  font-family: $normal-font-family;
  font-weight: $normal-font-weight;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: $normal-font-family;
  font-weight: $bold-font-weight;
}

nav, .navbar-brand {
  font-weight: $bold-font-weight;
  font-size: 18px;
}

.latest {
  font-size: 13px;
  .continue-link {
    text-align: right;
  }
}

.mini-flickr-image-container {
  text-align: center;

  .polaroid {
    // centered Polaroid-like look
    display: inline-block;
    padding: 3px;
    background: white;
    box-shadow:         $photo-padding $photo-padding $photo-padding 0px #111;
    border-radius: 3px;

    img {
      margin-bottom: 3px;
      border-radius: 2px;
      width: 100%
    }

    em {
      color: black;
      font-family: 'Swanky and Moo Moo', fantasy, cursive;
      font-size: 16px;
      display: block;
    }
    a:hover {
      text-decoration: none;
    }
  }

}

.flickr-image-container {
  text-align: center;

  .polaroid {
    // centered Polaroid-like look
    display: inline-block;
    padding: $photo-padding;
    background: white;
    box-shadow:         $photo-padding $photo-padding $photo-padding 0px #111;
    border-radius: 3px;

    img {
      margin-bottom: $photo-padding;
      border-radius: 2px;
      width: 100%
    }

    em {
      color: black;
      font-family: 'Swanky and Moo Moo', fantasy, cursive;
      font-size: 24px;
      display: block;
    }
    a:hover {
      text-decoration: none;
    }
  }

}

.excerpt-link {
  text-align:    right;
  padding-right: 30px;
  font-size:     20px;
}

.pagination {
  width: 100%;
  font-size: 20px;
  padding-bottom: 20px;

  .page-previous {
    position: absolute;
    left: 1%;
  }

  .page-current {
    position: absolute;
    left: 50%;
    width: 160px;
    margin-left: -80px;
  }

  .page-next {
    position: absolute;
    right: 1%;
  }
}


.well {
  img.avatar {
  float: right;
  margin: 10px;
  border: 2px solid #0c0d0e;
  border-radius: 25px;
 }

 .blurb {
   text-align: justify;
   font-size:  13px;
   font-family: $normal-font-family;
   font-weight: $light-font-weight;
 }

 .tags {
   padding-left: 10px;
   padding-right: 10px;
   a {
     font-size: 12px;
     padding: 1px 5px;
     font-weight: $bold-font-weight;
     color: $tag-background-color !important;
     background-color: $tag-color;
     margin-bottom: 6px;
   }

   a:hover {
     color: $tag-color !important;
     background-color: $tag-background-color;
   }
 }
}

ul.tags {
  padding: 0px;
  text-align: justify;

  li {
    display: inline-block;

    a {
      color: $tag-color !important;
      background-color: $tag-background-color;
      display: block;
      padding: 4px 8px;
      text-decoration: none;
      text-transform: capitalize;
      border-radius: 4px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; 
    }

    a:hover {
      color: $tag-background-color !important;
      background-color: $tag-color;
    }

  }
}

.quote {
  font-size: x-large;
  font-weight: $light-font-weight;
}
.quote:before {
  content: "\f10d  ";
  font-family: FontAwesome;
}

.quote:after {
  content: " \f10e";
  font-family: FontAwesome;
}

.quote-attribution {
  font-size: large;
  font-weight: $light-font-weight;
  text-align: right;
  padding-right: 50px;
}

.quote-attribution:before {
  content: "– "
}

.excerpt {
  font-weight: $light-font-weight;
  margin-left: 20px;
  font-size: larger;
}

article p {
  text-align: justify;
}

.timestamp {
  margin: -5px 0 -5px 0;
  padding: 0px;
  font-size: 10px;
}
