<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'lucasthenomad';
    {% if post.old_blog_url %}
    var disqus_url = '{{ post.old_blog_url }}';
    {% else %}
    var disqus_url = '{{ site.url }}{{ post.url }}';
    {% endif %}

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
