<article>
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p><i class="fa fa-clock-o"></i>&nbsp;Posted on {{ post.date | date_to_long_string }}</p>
  <br>
  {{ content | excerpt }}

  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
  <p class="excerpt-link"><a href="{{ post.url }}">Read more&hellip;</a></p>
  {% endif %}

<footer class="post_footer">
  {% if post.tags | has_tags %}
  {% assign tags = post.tags %}
  {% include _tags.html %}
  {% endif %}
</footer><!-- /.post_footer -->
  <hr>
</article><!-- /.post -->
