<article>
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="timestamp"><i class="fa fa-clock-o"></i>&nbsp;Posted on {{ post.date | date_to_long_string }}</p>
  <br>
  {{ content | excerpt | rewrite_flickr_urls: post.url}}

  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  <p class="excerpt-link"><a href="{{ post.url }}">{% if excerpted == 'true' %}Read more&hellip;{% else %}Leave a comment{% endif %}</a></p>

<footer class="post_footer">
  {% if post.tags | has_tags %}
  {% assign tags = post.tags %}
  {% include _tags.html %}
  {% endif %}
</footer><!-- /.post_footer -->
  <hr>
</article><!-- /.post -->
