<footer class="post_footer">
<ul class="post_info">
  <li class="tag_list">
    <ul class="tags">
      {% for tag in post.tags %}
      <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </li>
</ul>
</footer><!-- /.post_footer -->

{% unless index %}
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://lucasthenomad.disqus.com/embed.js"></script>
<noscript><a href="http://lucasthenomad.disqus.com/?url=ref">View the discussion thread.</a></noscript>
{% endunless %}

<!-- End Post Footer -->
