---
layout: default
homepage: true
priority: 1.0
---

{% assign index = true %}
<section id="posts">
{% for post in paginator.posts %}
  {% assign content = post.content %}
  {% if post.layout == "post" %}
    {% include _post.html %}
  {% elsif post.layout == "quote" %}
    {% include _quote.html %}
  {% endif %}
{% endfor %}
</section><!-- /#posts -->

<div class="pagination">
<div class="inner">
  {% if paginator.previous_page %}
    <a class="previous" href="{{paginator.previous_page}}">Newer Posts</a>
  {% endif %}

  <span class="current_page">— Page {{paginator.page}} of {{paginator.total_pages}} —</span>

  {% if paginator.next_page %}
    <a class="next" href="{{paginator.next_page}}">Older Posts</a>
  {% endif %}  
</div>
</div>
